<div class="row">
	<div class="header-modal col-12 px-4">
		<div class="row mt-4 px-3 " style="
		margin-left: 5%;
		margin-right: 5%;
	">

			<button id="nav-identificacao" class="btn-sem-decoracao aba-modal abas-info-sis abas-info-sis-ativa ml-0">
				<label class="titulo-modal titulo-modal-info-sis
				titulo-modal-info-sis-ativa" id="identificacao-tab" role="tab" aria-controls="identificacao" disabled=""
					onclick="proximo(false,'identificacao')">Identificação</label>
			</button>
			<button id="nav-financeiro" class="btn-sem-decoracao aba-modal abas-info-sis">
				<label class="titulo-modal" id="financeiro-tab" role="tab" aria-controls="financeiro"
					aria-selected="false" onclick="proximo(false,'financeiro')">Financeiro</label>
			</button>
			<button id="nav-impressao" class="btn-sem-decoracao aba-modal abas-info-sis">
				<label class="titulo-modal" id="impressao-tab" role="tab" aria-controls="impressao"
					aria-selected="false" onclick="proximo(false,'impressao')">Impressão</label>
			</button>
			<button id="nav-modulo" class="btn-sem-decoracao aba-modal abas-info-sis">
				<label class="titulo-modal" id="modulo-tab" role="tab" aria-controls="modulo"
					onclick="proximo(false,'modulo')">
					Outros</label>
			</button>

			<button id="sair" class="btn-sem-decoracao float-right btn-sair-acima-main mt-4" onclick="logout()">
				<img class="mt-3 img-saida img-saida-personalizar" src="../img/saida.png" alt="">

			</button>

		</div>
	</div>
	<div class="col-md-12 position-relative float-right cont-info-sis">
		<div id="nav-tabContent" class="tab-principal tab-principal pb-3 rounded-top">
			<div id="nav-botoes" class="nav-item rounded-top">
			</div>

			<div class="tab-content form-cadastro rounded-bottom pb-5 border" id="myTabContent">
				<div class="tab-pane tab-dado-estab show active" id="identificacao" role="tabpanel"
					aria-labelledby="home-tab">
					<div class="col-md-12 mt-2">
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Dados do Estabelecimento </span></h3>
						<div class="form-row cont-input-conf">

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">Razão Social:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4 input-infosis">
									<input id="cfg_nome" name="RAZÃO SOCIAL" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="90">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">Fantasia:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4 input-infosis">
									<input id="cfg_nome_fantasia" name="FANTASIA" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="90">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">CNPJ:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_cnpj" name="CNPJ" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>
							<div class="offset-5"></div>
						</div>
						<hr>
						<div class="form-row cont-input-conf">


							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										CEP:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_cep_logradouro" name="LOGRADOURO" type="number" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="8">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Logradouro:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4 input-infosis">
									<input id="cfg_nome_rua" name="LOGRADOURO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										disabled>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Bairro:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_bairro" name="LOGRADOURO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										disabled>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Cidade:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_cidade" name="LOGRADOURO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										disabled>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										UF:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_uf" name="LOGRADOURO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										disabled>
								</div>
							</div>

							<!-- <div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Lograd. (ID):*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_id_logradouro" name="LOGRADOURO"
										class="form-control form-control-sm">
										<option value="1">Rua de teste</option> 
									</select>
								</div>
							</div> -->

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">Nº:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_numero_local" name="NUMERO DO LOCAL" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="6">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">Complemento:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_complemento" name="COMPLEMENTO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="50">
								</div>
							</div>
						</div>
						<hr>
						<div class="form-row cont-input-conf">
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										DDD:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-2">
									<input id="cfg_ddd" name="DDD" type="number" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing"
										maxlength="2">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Telefone 1:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_fone1" name="TELEFONE 1" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing"
										maxlength="10">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Telefone 2:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_fone2" name="TELEFONE 2" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="10">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Telefone 3:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_fone3" name="TELEFONE 3" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="10">
								</div>
							</div>
						</div>
						<hr>
						<div class="form-row cont-input-conf">
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Número de Serie:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_nr_serie" name="NUMERO DE SERIE" maxlength="8" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Código de Liberação:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_cod_lib" name="CODIGO DE LIBERAÇÃO" maxlength="6" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Ramo de Atividade:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_id_nicho" name="NICHO" class="form-control form-control-sm">
										<option value="99"></option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Inscrição Estadual:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_ie" name="INSCRIÇÃO ESTADUAL" maxlength="30" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Inscrição Munícipal:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_im" name="INSCRIÇÃO MUNICIPAL" maxlength="30" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

						</div>
						<!-- <hr> -->
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Dados Adicionais </span></h3>
						<div class="form-row cont-input-conf">
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										E-mail:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4 input-infosis">
									<input id="email" name="EMAIL" maxlength="60" type="text" class="form-control">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Site:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4 input-infosis">
									<input id="cfg_site" name="SITE" maxlength="35" type="text" class="form-control">
								</div>
							</div>
						</div>

						<div class="form-row cont-input-conf">
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Facebook:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_facebook" name="FACEBOOK" maxlength="30" type="text"
										class="form-control">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Instagram:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_instagram" name="INSTAGRAM" maxlength="30" type="text"
										class="form-control">
								</div>
							</div>

							<div class="cont-celulas mb-3">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">
										Twitter:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_twitter" name="TWITTER" maxlength="30" type="text"
										class="form-control">
								</div>
							</div>

						</div>
					</div>


					<div class=" footer-conteudo" id="botoes-identificacao-tab">
						<button class="btn-prox-ante position-relative float-right " name="identificacao"
							onclick="proximo(this,'financeiro')">
							<!-- <span>PRÓXIMO ➞				</span> -->
							<span>
								PRÓXIMO
								<img class="setas" src="../img/seta-direita.png">
							</span>
						</button>
					</div>

					<div class=" footer-conteudo" id="botoes-identificacao-tab-2">
						<button class="btn-prox-ante position-relative float-right " name="identificacao"
							onclick="proximo(this,'financeiro')">
							<!-- <span>PRÓXIMO ➞				</span> -->
							<span>
								PRÓXIMO
								<img class="setas" src="../img/seta-direita.png">
							</span>
						</button>
					</div>

				</div>



				<div class="tab-pane tab-dado-estab" id="financeiro" role="tabpanel" aria-labelledby="profile-tab">
					<div class="col-sm-12 mt-2">
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Gerenciamento</span></h3>

						<div class="form-row cont-input-conf" id="moduloPizza">

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="COBRAR PIZZA COMBINADA">Cobrar Pizza
										Combinada:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_pzcombinada" name="" class="form-control form-control-sm">
										<option value="P">MAIOR</option>
										<option value="M">MÉDIA</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="COBRANÇA DAS BROTOS(MD/GG):">
										Cobrar - Broto/Média/Giga
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_formabroto" name="" class="form-control form-control-sm">
										<option value="P">PORCENTAGEM</option>
										<option value="F">VALOR FIXO</option>
										<option value="I">INDIVIDUAL</option>
									</select>
								</div>
							</div>

							<div id="valuesPizzasCfg" style="width: 100%;">
								<div class="cont-celulas">
									<div class="celula-1 celula-1-inforsis">
										<span id="pzBrotoSpan" class="label-celula">
											Pizza Broto (%):
										</span>
									</div>
									<div class="celula-2 celula-2-inforsis col-4">
										<input id="cfg_porc_broto" name="PORCENTAGEM DA BROTO" type="text"
											class="form-control" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-sm"
											onkeyup="Helper.maskMoeda(this,event)">
									</div>
								</div>

								<div class="cont-celulas">
									<div class="celula-1 celula-1-inforsis">
										<span id="pzMediaSpan" class="label-celula">
											Pizza Média (%):
										</span>
									</div>
									<div class="celula-2 celula-2-inforsis col-4">
										<input id="cfg_porc_media" name="PORCENTAGEM DA MEDIA" type="text"
											class="form-control" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-sm"
											onkeyup="Helper.maskMoeda(this,event)">
									</div>
								</div>

								<div class="cont-celulas">
									<div class="celula-1 celula-1-inforsis">
										<span id="pzGigaSpan" class="label-celula">
											Pizza Giga (% a mais):
										</span>
									</div>
									<div class="celula-2 celula-2-inforsis col-4">
										<input id="cfg_porc_giga" name="PORCENTAGEM DA GIGANTE" type="text"
											class="form-control" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-sm"
											onkeyup="Helper.maskMoeda(this,event)">
									</div>
								</div>
							</div>

						</div>

						<div class="form-row cont-input-conf" id="taxasFrete">

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="TAXA DE SERVIÇO">
										Taxa de Serviço (%):
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_taxa_servico" name="TAXA DE SERVIÇO" maxlength="6" type="text"
										class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm" onkeyup="Helper.maskMoeda(this,event)">
								</div>

							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="FRETE BÁSICO">
										Frete Mínimo:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_frete_basico" name="FRETE BÁSICO" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
										maxlength="6" onkeyup="Helper.maskMoeda(this,event)">
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="BAIXA NESSE TERMINAL">Baixa neste Terminal:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_baixa_aqui" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<!--div class="cont-celulas">
									<div class="celula-1 celula-1-inforsis">
										<span class="label-celula" title="CONTROLAR PERÍODOS">Controlar Períodos:
										</span>
									</div>
									<div class="celula-2 celula-2-inforsis col-4">
										<select id="" class="form-control form-control-sm">
											<option value="">Não</option>
											<option value="">Sim</option>
										</select>
									</div>
								</div> -->

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CONTROLAR FORMA DE PAGAMENTO">Controlar forma
										de pagamento:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_contr_pagto" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas" style="display: none;">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="POSSIBILITAR DIVISÃO DE CONTA">RATEIO:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="rateio" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CONTROLAR ENTREGADORES">Controlar
										Entregadores:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_contr_motoq" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="PROMOÇÃO DIÁRIA">Promoção Diária:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_promo_dia" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>
						</div>
						<div class=" footer-conteudo" id="botoes-financeiro-tab">
							<button class="btn-prox-ante position-relative float-left " name="financeiro"
								onclick="proximo(this,'identificacao')">
								<span>
									<img class="setas" src="../img/seta-esquerda.png">
									ANTERIOR
								</span>
							</button>
							<button class="btn-prox-ante position-relative float-right " name="financeiro"
								onclick="proximo(this,'impressao')">
								<span>
									PRÓXIMO
									<img class="setas" src="../img/seta-direita.png">
								</span>
							</button>
						</div>
						<div class=" footer-conteudo" id="botoes-financeiro-tab-2">
							<button class="btn-prox-ante position-relative float-left " name="financeiro"
								onclick="proximo(this,'identificacao')">
								<span>
									<img class="setas" src="../img/seta-esquerda.png">
									ANTERIOR
								</span>
							</button>
							<button class="btn-prox-ante position-relative float-right " name="financeiro"
								onclick="proximo(this,'impressao')">
								<span>
									PRÓXIMO
									<img class="setas" src="../img/seta-direita.png">
								</span>
							</button>
						</div>
					</div>
				</div>



				<div class="tab-pane tab-dado-estab" id="impressao" role="tabpanel" aria-labelledby="contact-tab">
					<div class="col-sm-12 mt-2">
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Configurações</span></h3>
						<div class="form-row cont-input-conf">

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="IMPRESSORA ATUAL">Impressora Atual:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input type="text" id="cfg_id_impressora" name="IMPRESSORA" value="1"
										class="form-control form-control-sm btn-impressora-infosis" disabled>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="QUANTIDADE DE CUPONS">Qtd Cupons:*
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="cfg_qde_cupom" name="QUANTIDADE DE CUPOM" value="1" maxlength="5"
										type="text" class="form-control" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="ITENS EM CUPONS SEPARADOS">
										Itens em Cupons Separados:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_separa_cupom" name="SEPARAR CUPOM"
										class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CÓDIGO DE ITEM NO CUPOM">
										Código de Item no Cupom:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_codigo_cupom" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CANHOTO DE CONTROLE">
										Canhoto de Controle:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_canhoto_cupom" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="REPETIR ITEM DE MESMO CODIGO">
										Repetir itens de mesmo COD:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_repete_item" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

						</div>
					</div>
					<div class=" footer-conteudo" id="botoes-impressao-tab">
						<button class="btn-prox-ante position-relative float-left " name="impressao"
							onclick="proximo(this,'financeiro')">
							<span>
								<img class="setas" src="../img/seta-esquerda.png">
								ANTERIOR
							</span>
						</button>
						<button class="btn-prox-ante position-relative float-right " name="impressao"
							onclick="proximo(this,'modulo')">
							<span>
								PRÓXIMO
								<img class="setas" src="../img/seta-direita.png">
							</span>
						</button>
					</div>
					<div class=" footer-conteudo" id="botoes-impressao-tab-2">
						<button class="btn-prox-ante position-relative float-left " name="impressao"
							onclick="proximo(this,'financeiro')">
							<span>
								<img class="setas" src="../img/seta-esquerda.png">
								ANTERIOR
							</span>
						</button>
						<button class="btn-prox-ante position-relative float-right " name="impressao"
							onclick="proximo(this,'modulo')">
							<span>
								PRÓXIMO
								<img class="setas" src="../img/seta-direita.png">
							</span>
						</button>
					</div>
				</div>

				<div class="tab-pane tab-dado-estab" id="modulo" role="tabpanel" aria-labelledby="modulo-tab">
					<div class="col-sm-12 mt-2" style="margin-top: 2rem!important;">
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Opções</span></h3>
						<div class="form-row cont-input-conf">

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="SEPARA PERIÓDO">
										Separar Período:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_separa_periodo" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CONTROLE DE ESTOQUE">
										Controle de Estoque:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_contr_estq" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula">Quantidade de mesas:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<input id="qde_mesas" name="qde_mesas" type="text" class="form-control"
										aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
								</div>
							</div>

							<!--<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CONTROLE MOTOQUEIRO">
										Controle Motoqueiro:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_contr_motoq" name="" class="form-control form-control-sm">
										<option value="1">SIM</option>
										<option value="0">NÃO</option>
									</select>
								</div>
							</div>-->

							<!--<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="ATIVAR BAIXA TERMINAL">
										Ativar Baixa Terminal:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_baixa_aqui" name="" class="form-control form-control-sm">
										<option value="1">Sim</option>
										<option value="0">Não</option>
									</select>
								</div>
							</div>-->

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="CÓDIGO DE BARRAS">
										Ativar Código de Barras:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_cod_barra" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="SEU ESTABELECIMENTO TRABALHA COM DELIVERY?">
										Faz Delivery?:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_faz_delivery" name="" class="form-control form-control-sm">
										<option value="1">SIM</option>
										<option value="0">NÃO</option>
									</select>
								</div>
							</div>

							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="TIPO DE MENU DO SISTEMA">
										Tipo de Menu:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="tpMenu" class="form-control form-control-sm">
										<option value="1"><i>BOTÕES</i></option>
										<option value="0">TRADICIONAL</option>
									</select>
								</div>
							</div>

						</div>
						<h3 class="subli mb-4 tit-dados-adicionais"><span>Módulos Ativos</span></h3>
						<div class="form-row cont-input-conf">
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="MÓDULO FISCAL">
										Módulo Fiscal:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_modulo_fiscal" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>

							</div>
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="MÓDULO DE MOBILE">
										Módulo Mobile:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_modulo_movel" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>
							<!-- <div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="MÓDULO TOTEM">
										MÓDULO TOTEM:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="" class="form-control form-control-sm">
										<option value="">NÃO</option>
										<option value="">SIM</option>
									</select>
								</div>
							</div> -->
							<div class="cont-celulas">
								<div class="celula-1 celula-1-inforsis">
									<span class="label-celula" title="MÓDULO WEB">
										Módulo Web:
									</span>
								</div>
								<div class="celula-2 celula-2-inforsis col-4">
									<select id="cfg_modulo_web" name="" class="form-control form-control-sm">
										<option value="0">NÃO</option>
										<option value="1">SIM</option>
									</select>
								</div>
							</div>

						</div>

					</div>

					<div class=" footer-conteudo" id="botoes-modulo-tab">

						<button class="btn-prox-ante position-relative float-left " name="modulo"
							onclick="proximo(this,'impressao')">
							<span>
								<img class="setas" src="../img/seta-esquerda.png">
								ANTERIOR
							</span>
						</button>
						<button class="btn-prox-ante position-relative float-right " id="btnEditarEstab">
							<span>
								SALVAR
								<img class="setas img-salvar" src="../img/disk.png">
							</span>
						</button>

					</div>

					<div class=" footer-conteudo" id="botoes-modulo-tab-2" style="visibility: hidden;">

						<button class="btn-prox-ante position-relative float-left " name="modulo"
							onclick="proximo(this,'impressao')">
							<span>
								<img class="setas" src="../img/seta-esquerda.png">
								ANTERIOR
							</span>
						</button>
						<button class="btn-prox-ante position-relative float-right ">
							<span>
								SALVAR
								<img class="setas img-salvar" src="../img/disk.png">
							</span>
						</button>

					</div>



				</div>


				<div class="footer-botoes-nav" id="footer-botoes-nav"></div>
			</div>
		</div>
	</div>
</div>
</div>
</div>



<script type="text/javascript">
	function botoesNav2() {
		let botaoSalvar = document.getElementById("botoes-identificacao-tab");
		let navBotoes = document.getElementById("nav-botoes");
		navBotoes.appendChild(botaoSalvar);

		let botaoSalvar2 = document.getElementById("botoes-identificacao-tab-2");
		let navBotoes2 = document.getElementById("footer-botoes-nav");
		navBotoes2.appendChild(botaoSalvar2);

	} botoesNav2();
</script>

<script type="text/javascript">
	require('../js/script.js');
	require('../js/confDadosEstabelecimento.js');
</script>

<div id="container-search" style="display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input id="input-search" name="Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>