<link rel="stylesheet" type="text/css" href="../css/frameSubMenuTblAux.css">
<img class="pl-3 position-absolute casa" onclick="voltarHome()" src="../img/casa.png">
<div class="row">
	<div class="col-10 offset-1 mb-3">
		<h2>
		<center>Tabelas Auxiliares</center></h2>
	</div>
</div>

<div class="row">
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxFormaPagamento`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/pagamento.png">
			</div>
				<center class="pb-2 label-submenu">
				Formas Pagamento</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxNivelUsuario`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/nivel-usuario.png">
			</div>
				<center class="pb-2 label-submenu">
				Nível Usuário</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxFuncoes`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/funcao.png">
			</div>
				<center class="pb-2 label-submenu">
				Funções</center>
		</button>
	</div>

	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxTerminais`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/terminal.png">
			</div>
				<center class="pb-2 label-submenu">
				Terminais</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxSituacaoCli`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/situacaoCliente.png">
			</div>
				<center class="pb-2 label-submenu">
				Situação Cliente</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxPeriodo`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/periodo.png">
			</div>
				<center class="pb-2 label-submenu">
				Períodos</center>
		</button>
	</div>

	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxSetor`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/setores.png">
			</div>
				<center class="pb-2 label-submenu">
				Setores</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxMedida`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/medida.png">
			</div>
				<center class="pb-2 label-submenu">
				Unidade Medidas</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxDestinosPed`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/destinoPedido.png">
			</div>
				<center class="pb-2 label-submenu">
				Destinos pedidos</center>
		</button>
	</div>

	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxTpVenda`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/vendas.png">
			</div>
				<center class="pb-2 label-submenu">
				Tipo Vendas</center>
		</button>
	</div>
	<div class="submenu-aux col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxTpProd`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/tipoProduto.png">
			</div>
				<center class="pb-2 label-submenu">
				Tipo Produto</center>
		</button>
	</div>
</div>