<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/modal-um.css">
    <link rel="stylesheet" type="text/css" href="../css/extratoCaixa.css">
    <title>Extrato</title>
</head>
<div class="tab-principal divPrincipal">
    <div id="menuTrad"></div>
    <div id="extrato-caixa" class="popup">
        <h1 class="tituloExtrato">Extrato do Caixa</h1>
        <br>
        <h3>Nome do Computador</h3> <p id="nomePc"></p>
        <h3>Período</h3> <p id="perCaixa"></p>

        <table class="tableExtratoCaixa">
            <thead>
                <tr>
                    <td colspan="2" class="tituloTabela">Faturamento no período</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fat bruto</td>
                    <td id="fatBruto"></td>
                </tr>
                <tr>
                    <td>Fiados Feitos</td>
                    <td id="fiadosFeitos"></td>
                </tr>
                <tr>
                    <td>Descontos</td>
                    <td id="descontos1"></td>
                </tr>
                <tr>
                    <td>Vale Compra</td>
                    <td id="valeCompra"></td>
                </tr>
                <tr>
                    <td>Despesas</td>
                    <td id="despesas"></td>
                </tr>
                <tr>
                    <td>Fat. Líquido</td>
                    <td id="fatLiquido"></td>
                </tr>
                <tr>
                    <td>Fiados Recebidos</td>
                    <td id="fiadosReceb"></td>
                </tr>
                <tr>
                    <td>Valor no Caixa</td>
                    <td id="valorCaixa"></td>
                </tr>
            </tbody>
        </table>

        <table class="tableExtratoCaixa" id="segundaTabela">
            <tr>
                <td colspan="2" class="tituloTabela">Registro dos recebimentos</td>
            </tr>
        </table>

        <table class="tableExtratoCaixa" id="terceiraTabela">
            <tr>
                <td colspan="2" class="tituloTabela">Outros valores registrados</td>
            </tr>
        </table>

        <table class="tableExtratoCaixa" id="quartaTabela">
            <tr>
                <td colspan="2" class="tituloTabela">Distribuição das vendas</td>
            </tr>
            <tr>
                <td>Comandas Baixadas</td>
                <td id="comBaixadas"></td>
            </tr>
            <tr>
                <td>Pedidos para entrega</td>
                <td id="pedEntrega"></td>
            </tr>
            <tr>
                <td>Pedidos para balcão</td>
                <td id="pedBalcao"></td>
            </tr>
            <tr>
                <td>Pedidos no Mesa</td>
                <td id="pedSalao"></td>
            </tr>
            <tr>
                <td>Outros pedidos</td>
                <td id="pedOutros"></td>
            </tr>
        </table>

        <table class="tableExtratoCaixa">
            <tr>
                <td colspan="2" class="tituloTabela">Distribuição de pizzas</td>
            </tr>
            <tr>
                <td>Pizzas entregues</td>
                <td id="pzEntreg"></td>
            </tr>
            <tr>
                <td>Pizzas no balcão</td>
                <td id="pzBalcao"></td>
            </tr>
            <tr>
                <td>Pizzas no Mesa</td>
                <td id="pzSalao"></td>
            </tr>
            <tr>
                <td>Pizzas na comanda</td>
                <td id="pzComanda"></td>
            </tr>
            <tr>
                <td>Pizzas em outros </td>
                <td id="pzOutros"></td>
            </tr>
            <tr>
                <td>Total de pizzas</td>
                <td id="pzTotal"></td>
            </tr>
        </table>

        <table class="tableExtratoCaixa">
            <tr>
                <td colspan="2" class="tituloTabela">Tipos Produzidos</td>
            </tr>
            <tr>
                <td>Pizzas broto</td>
                <td id="pzbr">0</td>
            </tr>
            <tr>
                <td>Pizzas médias</td>
                <td id="pzme">0</td>
            </tr>
            <tr>
                <td>Pizzas normais</td>
                <td id="pznn">0</td>
            </tr>
            <tr>
                <td>Pizzas gigantes</td>
                <td id="pzgi">0</td>
            </tr>
            <tr>
                <td>Pizzas combinadas</td>
                <td id="pzcombinadas">0</td>
            </tr>
        </table>

        <table class="tableExtratoCaixa" id="setimaTabela">
            <tr>
                <td colspan="2" class="tituloTabela">Outros grupos vendidos</td>
            </tr>
            <tr>
                <td>Sem dados para exibir</td>
                <td id=""></td>
                <td id=""></td>
            </tr>
        </table>

        <button id = "btnImprimeExtrato" class = "button-accept">Imprimir Extrato do Caixa</button>
        <button id = "botao-fechar" class = "button-cancel" onclick = "carregaFrame('frameSubMenuMovimento','back')">Retornar</button>
    </div>
</div>