<!-- Modal para criar novo usuario -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100" >
	<div class="modal-info-imp position-relative col-8 offset-2 rounded pt-3 pb-5 px-5">		
		<div class="header-modal col-12 p-0">
			<div class="bg-transparent mt-4">
				<span class="titulo-modal col-4">
					Cadastro de Fornecedores
				</span>
			</div>
		</div>
		
		<div class="body-modal bg-light py-4">
			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Código*:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="joao">
					</div>

					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Nome Produto:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="4564874874">
					</div>

					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Categoria:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="11 98748478">

					</div>


				</div>
			</div>

			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Medida:</span>
						</div>
						<div class="input-group-prepend">
							<select class="custom-select">
								<option>Unidades</option>
								<option>Kilos</option>
								<option>Litros</option>
							</select>
						</div> 
					</div>


					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Quant. Atual:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="11 98748478">
						
					</div>
					
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Status:</span>
						</div>
						<div class="input-group-prepend">
							<select class="custom-select">
								<option>Ativada</option>
								<option>Desativada</option>
							</select>
						</div> 
					</div>

					
				</div>
			</div>

		</div>

		<div class="row footer-modal m-0 bg-light">
			<div class="col-6 my-2">
				<button class="col-2 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
			</div>
			<div class="col-6 my-2">
				<button class="col-2 btn btn-success position-relative float-right" onclick="addAlt('fechar')">Criar</button>
			</div>
		</div>
	</div>
</div>
<!-- fim -->

<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cadastro de Estoque</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right" style="width: 10%;"> <center>Código </center></th>
					<th  class="border-right" style="width: 20%;"> <center>Nome Produto</center></th>
					<th  class="border-right" style="width: 20%;"> <center>Categoria</center> </th>
					<th  class="border-right" style="width: 15%;"> <center>Quantidade</center> </th>
				</tr>
			</thead>
			<tbody id="listaProdutos">
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>10</center></td>
					<td class="border-right" ><center>Mussarela</center></td>
					<td class="border-right" ><center>Ingrediente</center></td>
					<td class="border-right" ><center>15,00 Kg</center></td>

				</tr>

				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>320</center></td>
					<td class="border-right" ><center>Candida</center></td>
					<td class="border-right" ><center>Limpeza</center></td>
					<td class="border-right" ><center>1 L</center></td>
				</tr>

				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>80</center></td>
					<td class="border-right" ><center>Pepsi</center></td>
					<td class="border-right" ><center>Refrigerante</center></td>
					<td class="border-right" ><center>12 Un</center></td>
				</tr>


			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"> 

		require('../js/script.js');
		
		function addAlt(acao){
			let abrirMod = document.getElementById('addAlt');
			let camadaModal = document.getElementById('camadaModal');

			camadaModal.style.height = 'initial';
			camadaModal.style.display = 'block';
			//camadaModal.style. = '';

			if(acao == 'fechar'){
				camadaModal.style.display = 'none';			
			}
		}



	</script>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>