<!-- Modal -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100 pl-5" >
	<div class="modal-info-imp position-relative col-10 offset-1 rounded pb-5 px-5">		
		<div class="header-modal col-12 p-0">

			<button id="btn-aba-principal" class="btn-sem-decoracao aba-modal abas-cad w-25 ml-3 abas-cad-ativa" >
				<label id="lbl-aba-principal" class="titulo-modal titulo-modal-info-sis titulo-modal-cad titulo-modal-info-sis-ativa" disabled="" >
					Dados de Grupo
				</label>
			</button>

			<!-- <button id="btn-aba-secundaria" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-cad w-25 px-0" >
				<label id="lbl-aba-secundaria" class="titulo-modal titulo-modal-info-sis" disabled="" >
				 	Dados Fiscais					
				</label>
			</button> -->

			
	</div>

	<div class="body-modal py-4 rounded shadow">	
		<div id="formCadastroProduto" class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

			<div class="col-12" id="dados-principais-modal" style="display:block;">
				<hr>

				<div class="cont-celulas">
					<div class="celula-1">
						<span class="label-celula">
							Código:*
						</span>
					</div>
					<div class="celula-2 col-3">
						<input id="cod_grupo" type="text" class="form-control" aria-label="Sizing example input" name="Código" aria-describedby="inputGroup-sizing-default" maxlength="3" disabled required>
					</div>
				</div>

				<div class="cont-celulas">
					<div class="celula-1">
						<span class="label-celula">
							Descrição:*
						</span>
					</div>
					<div class="celula-2 col-3">
						<input id="descricao" type="text" class="form-control" aria-label="Sizing example input" name="Descrição" aria-describedby="inputGroup-sizing-default" maxlength="20" required>
					</div>
				</div>

				<div class="cont-celulas">
					<div class="celula-1">
						<span class="label-celula">
							Impressora Padrão:*
						</span>
					</div>
					<div class="celula-2 col-3">
						<div class="input-group-prepend">
							<select id="id_impress" class="custom-select">
								<!-- inserido pelo js -->
							</select>
						</div>
					</div>
				</div>

				<div class="cont-celulas">
					<div class="celula-1">
						<span class="label-celula">
							Cupom separado:
						</span>
					</div>
					<div class="celula-2 col-3">
						<select id="cupom_separado" class="custom-select">
							<option value="0">NÃO</option>
							<option value="1">SIM</option>
						</select>
					</div>
				</div>

			</div>					

			<!-- <div class="col-12" id="dados-secundarios-modal" style="display:none;">
				<hr>
				<div class="row m-0">
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">ncm:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="ncm"  type="text" class="form-control" aria-label="Sizing example input" name="ncm:" aria-describedby="inputGroup-sizing-default" maxlength="6" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">cfop:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="cfop"  type="text" class="form-control" aria-label="Sizing example input" name="cfop" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">icms:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="icms"  type="text" class="form-control" aria-label="Sizing example input" name="icms" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">csticms:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="csticms"  type="text" class="form-control" aria-label="Sizing example input" name="csticms" aria-describedby="inputGroup-sizing-default" maxlength="50" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">bcicms:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="bcicms"  type="text" class="form-control" aria-label="Sizing example input" name="bcicms" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">pis:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="pis"  type="text" class="form-control" aria-label="Sizing example input" name="pis" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">cstpis:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="cstpis"  type="text" class="form-control" aria-label="Sizing example input" name="cstpis" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">bcpis:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="bcpis"  type="text" class="form-control" aria-label="Sizing example input" name="bcpis" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">cofins:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="cofins"  type="text" class="form-control" aria-label="Sizing example input" name="cofins" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">cstcofins:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="cstcofins"  type="text" class="form-control" aria-label="Sizing example input" name="cstcofins" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">bccofins:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="bccofins"  type="text" class="form-control" aria-label="Sizing example input" name="bccofins" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">porc_mun:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="porc_mun" type="text" class="form-control" aria-label="Sizing example input" name="porc_mun" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">porc_est:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="porc_est" type="text" class="form-control" aria-label="Sizing example input" name="porc_est" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">porc_fed:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="porc_fed" type="text" class="form-control" aria-label="Sizing example input" name="porc_fed" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">cest:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="cest" type="text" class="form-control" aria-label="Sizing example input" name="cest" aria-describedby="inputGroup-sizing-default" maxlength="30" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">id_impress:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="id_impress" type="text" class="form-control" aria-label="Sizing example input" name="id_impress" aria-describedby="inputGroup-sizing-default" maxlength="8" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">totaliza:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="totaliza" type="text" class="form-control" aria-label="Sizing example input" name="totaliza" aria-describedby="inputGroup-sizing-default" maxlength="" required>
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">origem:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="origem" type="text" class="form-control" aria-label="Sizing example input" name="origem" aria-describedby="inputGroup-sizing-default" maxlength="" required>
						</div>
					</div>
				</div>
				<hr>
			</div> -->

		</div>

		<div class="row footer-modal m-0">
			<div class="offset-8 col-2 my-2">
				<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
			</div>
			<div class="col-2 my-2">
				<button id="cadastrarCategoria" type="submit" class="col-12 btn btn-success position-relative float-right">Salvar</button>
			</div>
		</div>

	</div>
</div>
</div>
</div>
<!-- fim -->

<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cadastro de Grupos</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<table class="table table-striped" id = "tableGroup">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right  titulo-th" style="width: 15%;" id = "thCat"> Categorias </th>
					<th  class="border-right  titulo-th" style="width: 25%;" id = "thDesc"> Descrição </th>
					<th  class="border-right  titulo-th" style="width: 10%;"> Destino de Imp </th>
				</tr>
			</thead>
			<tbody id="listaCategorias">
				<!-- o js ira inserir  -->
			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()" disabled>Novo</button>
				</div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	
	require('../js/script.js');
	require('../js/CadGrupos.js');

</script>
<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>