<div class="tab-principal">
	<div id="menuTrad"></div>
	<div id="inf-pc" class="popup">
        <h1>INFORMAÇÕES DO COMPUTADOR</h1>
        <br>
        <h3>Nome do Computador</h3> <p id="nomePc"></p>
        <h3>IP</h3> <p id="ipPc"></p>
        <h3>Tipo do Computador</h3> <p id="tipoPc"></p>
        <h3>Versão do Sistema</h3> <p id="versaoSistema"></p>
        <button id = "botao-fechar" class = "button-cancel" onclick = "fecharTela();">Retornar</button>
    </div>
</div>

<script type="text/javascript">
	require('../js/script.js');
	require('../js/InforPC.js');
</script>