<!-- <div class="row">
	<h3 class="col-4 offset-4 my-2 pl-5">Cores do Sistema</h3>
</div> -->
<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cores do Sistema</div>
</div>
<div class="tab-principal">
	<div id="menuTrad"></div>
	<div class="cores-pizza" style="top: 5em; position: relative;">
		<center>
			<h1>Cores do Aplicativo</h1>
			<!--<div>
				<button id="corSiclop" class="paleta-de-cor bg-siclop back-siclop btn-sem-decoracao" onclick="mudarCor(this.id)"></button>
			<button id="corViva" class="paleta-de-cor bg-warning back-viva btn-sem-decoracao" onclick="mudarCor(this.id)"></button>
			<button id="corDark" class="paleta-de-cor bg-dark back-preto btn-sem-decoracao" onclick="mudarCor(this.id)"></button>
			<button id="corNatural" class="paleta-de-cor bg-success back-natural btn-sem-decoracao" onclick="mudarCor(this.id)"></button>
			</div>-->
			<div id="colorsTheme">
				<div>
					<!--<svg width="480" height="278" viewBox="0 0 480 278" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="480" height="278" rx="10" fill="#395784" />
						<path
							d="M0 10C0 4.47715 4.47715 0 10 0H51C56.5228 0 61 4.47715 61 10V51C61 56.5228 56.5228 61 51 61H10C4.47715 61 0 56.5228 0 51V10Z"
							fill="white" />
						<rect x="70" y="17" width="400" height="233" rx="10" fill="white" fill-opacity="0.46" />
						<rect x="182" y="41" width="176" height="185" rx="10" fill="white" />
						<rect x="209" y="193" width="50" height="17" rx="8.5" fill="#1AFF15" />
						<rect x="280" y="193" width="50" height="17" rx="8.5" fill="#FF1818" />
					</svg>-->
					<div id="simul-hibrido">
						<div id="simul-botaoMenu"></div>
						<div id="simul-tela">
							<div id="simul-cardapio" class="flexRow">
								<div id="simul-ladoAzul"></div>
								<div id="simul-ladoAmarelo"></div>
							</div>
							<div id="simul-botoes" class="">
								<div id="simul-botaoOk">Ok</div>
								<div id="simul-botaoVoltar">Voltar</div>
							</div>
						</div>





					</div>
					<button onclick="confirmaReset()" id="buttonResetar" class="btnReset"
						control-id="ControlID-9">Restaurar Padrão</button>
				</div>
				<div id="botoesTemas">
					<label>Aplicativo em Geral</label>
					<div><input type="color" value="#044D70" id="corFundo" class="botoesCores">Fundo Principal</input></div>
					<div><input type="color" value="#01e401" id="corBotaoOk" class="botoesCores"
							onclick="mudarCor(this.id)">Botão Ok</input></div>
					<div><input type="color" value="#FF6D6D" id="corBotaoVoltar" class="botoesCores"
							onclick="mudarCor(this.id)">Botão Voltar</input></div>
					<label>Cardapio</label>
					<div><input type="color" value="#115399" id="corCardapioEsq" class="botoesCores"
							onclick="mudarCor(this.id)">Cardapio Lado Esq.</input></div>
					<div><input type="color" value="#f0e68c" id="corCardapioDir" class="botoesCores"
							onclick="mudarCor(this.id)">Cardapio Lado Dir.</input></div>
				</div>

			</div>

		</center>
	</div>
</div>



<script type="text/javascript">
	require('../js/script.js');
	require('../js/ConfCores.js');
</script>