<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Tabelas Auxiliares</div>
</div>

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link bg-light active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Formas de Pagamento</a>
		<a class="nav-item nav-link bg-light" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Funções</a>
		<a class="nav-item nav-link bg-light" id="nav-card-tab" data-toggle="tab" href="#nav-card" role="tab" aria-controls="nav-card" aria-selected="false">Cartões</a>
	</div>
</nav>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right" style="width: 10%;"> <center>ID </center></th>
					<th  class="border-right" style="width: 20%;"> <center>Nome </center></th>
				</tr>
			</thead>
			<tbody id="listaProdutos">
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>1</center></td>
					<td class="border-right" ><center>Dinheiro</center></td>

				</tr>
			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addItem('formaPagamento')">Novo</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Funcoes -->

	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right" style="width: 15%;"> <center>ID</center> </th>
					<th  class="border-right" style="width: 25%;"> <center>Função</center> </th>
					<th  class="border-right" style="width: 10%;"> <center>Faz Entrega? </center></th>
				</tr>
			</thead>
			<tbody id="listaFuncoes">
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>1</center></td>
					<td class="border-right" ><center>Entregador</center></td>
					<td class="border-right" ><center>sim</center></td>
				</tr>
			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addItem('funcoes')">Novo</button>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="nav-card" role="tabpanel" aria-labelledby="nav-card-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right" style="width: 15%;"> <center>ID</center> </th>
					<th  class="border-right" style="width: 25%;"> <center>Cartão</center> </th>
				</tr>
			</thead>
			<tbody id="listaCartoes">
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>1</center></td>
					<td class="border-right" ><center>Visa</center></td>
				</tr>
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>2</center></td>
					<td class="border-right" ><center>Elo</center></td>
				</tr>
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>3</center></td>
					<td class="border-right" ><center>MasterCard</center></td>
				</tr>
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button id=""class="btn-sem-decoracao">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>4</center></td>
					<td class="border-right" ><center>Sodexo</center></td>
				</tr>
			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addItem('cartoes')">Novo</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>