<!-- Modal para criar ou alterar -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100" >
	<div class="modal-info-imp position-relative col-8 offset-2 rounded pt-3 pb-5 px-5">		
		<div class="header-modal col-12 p-0">
			<div class="bg-transparent mt-4">
				<span class="titulo-modal col-4">
						Cadastro de Fornecedores
				</span>
			</div>
		</div>
		
		<div class="body-modal bg-light py-4">
			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Nome Fantasia:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="joao">
					</div>

					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">CPF/CNPJ:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="4564874874">
					</div>

					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Telefone:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="11 98748478">

					</div>


				</div>
			</div>

			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">

						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">CEP:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="">
					</div>


					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Tipo:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="11 98748478">
						
					</div>


					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Logradouro/Bairro:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="">
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">

						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Número:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="">
					</div>


					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Cidade:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="">
						
					</div>


					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Estado:</span>
						</div>
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="">
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="row m-0">
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Descriçao:</span>
						</div>
						<div class="input-group-prepend">
							<textarea class="form-control" style="height: calc(1.5em + .75rem + 2px);" aria-label="With textarea"></textarea>
						</div> 
					</div>


					
					<div class="input-group col-4 border pl-4 py-3">
						<div class="input-group-prepend ">
							<span class="input-group-text bg-transparent" id="basic-addon1">Status:</span>
						</div>
						<div class="input-group-prepend">
							<select class="custom-select">
								<option>Ativada</option>
								<option>Desativada</option>
							</select>
						</div> 
					</div>
				</div>
			</div>

		</div>

		<div class="row footer-modal m-0 bg-light">
			<div class="offset-8 col-2 my-2">
				<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
			</div>
			<div class="col-2 my-2">
				<button class="col-12 btn btn-success position-relative float-right" onclick="addAlt('fechar')">Criar</button>
			</div>
		</div>
	</div>
</div>
<!-- fim -->

<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Cadastro de Fornecedores</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 7%;"> <center>Edit/Del</center> </th>
				<th  class="border-right" style="width: 20%;"> <center>Nome Fantasia</center> </th>
				<th  class="border-right" style="width: 10%;"> <center>CPF</center> </th>
				<th  class="border-right" style="width: 10%;"> <center>Telefone</center> </th>				
				<th  class="border-right" style="width: 30%;"> <center>Endereço</center> </th>
			</tr>
		</thead>
		<tbody id="listaProdutos">
			<tr>							
				<th  class="border-right" scope="row">
					<center>
						<button class="btn-sem-decoracao" onclick="addAlt('editar')">
							<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
						</button>
						<button class="btn-sem-decoracao" onclick="desativarObjeto()">
							<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
						</button>
					</center>
				</th>
				<td class="border-right" ><center>Açouguete da dona izete</center></td>
				<td class="border-right" ><center>03363084</center></td>
				<td class="border-right" ><center>(11)98756-0201</center></td>
				<td class="border-right" ><center>Rua Majaruca 38</center></td>

			</tr>

		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
			</div>
		</div>
	</div>


	<script type="text/javascript"> 		
		require('../js/script.js');
	</script>
	<div id="container-search" style = "display: none;">
		<div id="box-search" class="popup">
			<p id="search-title">Pedido para Entrega</p>
			<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
			<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
			<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
			<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
		</div>
	</div>