<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Nível de Usuário</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 5%;"> <center>Alterar</center> </th>
				<th  class="border-right" style="width: 10%;"> <center>Código</center> </th>
				<th  class="border-right" style="width: 20%;"> <center>Descrição </center></th>
			</tr>
		</thead>
		<tbody id="listaFuncoes">
			
		</tbody>
	</table>
	
</div>

