<!-- Modal -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100 pl-5" >
	<div class="modal-info-imp position-relative col-10 offset-1 rounded pt-3 pb-5 px-5">		
		<div class="header-modal col-12 p-0">	
			<button class="btn-sem-decoracao aba-modal abas-info-sis ml-3 w-50">
				<label class="titulo-modal titulo-modal-info-sis
				titulo-modal-info-sis-ativa" id="identificacao-tab"  >
					Dados de Endereço
				</label>
			</button>	
		</div>
		
		<div class="body-modal py-4 rounded-top">
			<hr>
			<div class="col-12">
				<div class="row m-0">

					
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Tipo Logradouro:</span>
						</div>
						<div class="celula-2 col-3">
								<select id="id_tplogr" class="custom-select">
								</select>
						</div>
					</div>


					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Título:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="titulo" type="text" class="form-control" aria-label="Sizing example input" name="Título" aria-describedby="inputGroup-sizing-default" maxlength="15" placeholder="Ex: Capitão, Major...">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Logradouro:</span>
						</div>
						<div class="celula-2 col-6">
							<input id="rua" type="text" class="form-control" aria-label="Sizing example input" name="Logradouro" aria-describedby="inputGroup-sizing-default" maxlength="30">
						</div>

					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row m-0">

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Bairro:</span>
						</div>
						<div class="celula-2 col-6">
							<input id="bairro" type="text" class="form-control" aria-label="Sizing example input" name="Bairro" aria-describedby="inputGroup-sizing-default" maxlength="20">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
						<span class="label-celula">Cidade:</span>
						</div>
						<div class="celula-2 col-4">
							<select id="id_municipio" class="custom-select">
							</select>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">UF:</span>
						</div>
						<div class="celula-2 col-3">
							<div class="input-group-prepend">
								<select id="id_uf" class="custom-select">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row m-0">					

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*CEP:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="CEP" onkeyup="Helper.mascaraNumInt(this)" type="text" class="form-control" aria-label="Sizing example input" name="CEP" aria-describedby="inputGroup-sizing-default" maxlength="9">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Taxa Entrega:</span>
						</div>
						<div class="celula-2 col-3">
							<input id="frete" type="text" onkeyup="Helper.maskMoeda(this)" class="form-control" aria-label="Sizing example input" name="Taxa Entrega" aria-describedby="inputGroup-sizing-default" maxlength="6">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button id="cadastrar" class="col-12 btn btn-success position-relative float-right">Salvar</button>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- fim -->




<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cadastro de Endereço</div>
</div>


<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">

	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
				<th  class="border-right titulo-th" style="width: 25%;"> Nome Rua </th>
				<th  class="border-right titulo-th" style="width: 8%;"> CEP </th>
				<th  class="border-right titulo-th" style="width: 15%;"> Bairro </th>
				<th  class="border-right titulo-th" style="width: 10%;"> Cidade </th>
				<th  class="border-right titulo-th" style="width: 5%;"> UF </th>
				<th  class="border-right" style="width: 8%;"> <center>Taxa Entrega</center> </th>
			</tr>
		</thead>
		<tbody id="listaProdutos">

		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
			</div>
		</div>
	</div>


	<!-- Categorias -->

	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right" style="width: 15%;"> <center>Categorias</center> </th>
					<th  class="border-right" style="width: 25%;"> <center>Descrição</center> </th>
					<th  class="border-right" style="width: 10%;"> <center>Destino de Imp </center></th>
				</tr>
			</thead>
			<tbody id="listaCategorias">
				<tr>							
					<th  class="border-right" scope="row">
						<center>
							<button class="btn-sem-decoracao" onclick="addAlt()">
								<img style="margin-left: -12px;" src="https://img.icons8.com/plasticine/28/000000/pencil.png"/>
							</button>
							<button class="btn-sem-decoracao" onclick="desativarObjeto()">
								<img style="margin-left: -12px;" src="https://img.icons8.com/color/28/000000/trash.png"/>
							</button>
						</center>
					</th>
					<td class="border-right" ><center>Pizza</center></td>
					<td class="border-right" ><center>Meu... é uma pizza</center></td>
					<td class="border-right" ><center>IMPREDE</center></td>
				</tr>
			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
				</div>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">
	require('../js/script.js');
</script>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>


<!-- 20200799252240000 -->