<div class="row">
	<div class="titulo-grande col-4 offset-4 my-0 formato-trapezio">
		Estátistica de Clientes
	</div>
</div>
<div class="col-12 tab-principal rounded-top">
	<div class="row">
		<div class="col-6">
			<span class="sub-titulos">
				Quant. Clientes
			</span>
			<canvas id="qtdCliente">
		</div>
		<div class="col-6">
			<span class="sub-titulos">
				Vendas
			</span>
			<canvas id="vendas">
		</div>
		<hr>
		<div class="col-6 offset-3">
			<span class="sub-titulos">
				Despesas
			</span>
			<canvas id="despesas">
		</div>
	</div>
</div>


<script type="text/javascript">

	// estatisticas =  document.createElement('script');
	// estatisticas.src = "../js/estatisticas.js";
	// document.body.appendChild(estatisticas);

	require('../js/estatisticas.js');


</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

