<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Destino de Pedidos</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
				<th  class="border-right" style="width: 10%;"> <center>Código</center> </th>
				<th  class="border-right" style="width: 20%;"> <center>Descrição</center> </th>
			</tr>
		</thead>
		<tbody id="listaConteudoDoBanco">
			
		</tbody>
		<tbody id="listaAddItem">
			
		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addItemModal('destinoPedido')">Novo</button>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
	require('../js/script.js');
</script>
