<script type="text/javascript">
	let helper = require(path.join(__dirname + '/../../controller/Helper.js'));
</script>
<!--Modal -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100" >
	<div class="modal-info-imp position-relative col-8 offset-2 rounded pt-3 pb-5 px-5">		
		<div class="header-modal col-12 p-0">
			<button class="btn-sem-decoracao aba-modal abas-info-sis ml-3 w-50">
				<label class="titulo-modal titulo-modal-info-sis
				titulo-modal-info-sis-ativa" id="identificacao-tab">
					Dados de Itens Extras
				</label>
			</button>
		</div>

	<div class="body-modal py-4 rounded-top">
		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

			<div class="col-12">
				<div class="row m-0">
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Descrição:*</span>
						</div>
						<div class="celula-2 col-6">
							<input id="descricao" type="text" class="form-control" aria-label="Sizing example input" name="Descrição" aria-describedby="inputGroup-sizing-default" maxlength="60">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Acréscimo:</span>
						</div>
						<div class="celula-2 col-6">
							<input id="acrescimo" type="text" class="form-control" aria-label="Sizing example input" name="Acréscimo" aria-describedby="inputGroup-sizing-default" onkeyup="helper.maskMoeda(this,event)">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Dividir nas pizzas combinadas:</span>
						</div>
						<div class="celula-2 col-6">
							<select id="dividir" class="custom-select">
								<option value="NÃO">NÃO</option>
								<option value="SIM">SIM</option>
							</select>
						</div> 
					</div>

				</div>
			</div>				
			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button id="cadastrar" class="col-12 btn btn-success position-relative float-right">Salvar</button>
				</div>
			</div>
		</div>


	</div>
</div>
</div>
<!-- fim -->


<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cadastro de Itens Extras</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">

	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th  class="border-right" style="width: 5%;"> <center>Edit/Del</center> </th>
					<th  class="border-right titulo-th" style="width: 25%;" id = "thDesc"> Descrição </th>
					<th  class="border-right titulo-th" style="width: 10%;" id = "thAcréscimo"> Acréscimo </th>
					<th  class="border-right titulo-th" style="width: 10%;" id = "thDividir"> Para Pizza? </th>
				</tr>
			</thead>
			<tbody id="listaItens">

			</tbody>
		</table>
		<div class="footer-conteudo">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
				</div>
			</div>
		</div>
	</div>



</div>


<script type="text/javascript">

	require('../js/script.js');

</script>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>


<!-- 20200799252240000