<div class="row" id="header-sub-menu">
	<img class="pl-3 position-absolute casa" onclick="voltarHome()" src="../img/casa.png">
	<div class="col-lg-2 offset-lg-5 col-md-6 offset-md-4 mb-3">
		<h2>OPERAÇÕES</h2>
	</div>
	<img class=" img-saida img-saida-sub-menu img-saida-personalizar" src="../img/saida.png" alt="" onclick="logout()">
</div>
<div class="row">
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="abrirModais('delivery')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../Imagens/delivery.png">
				<center class="pb-2 label-submenu">
				Pedido Delivery</center>
				<small>CTRL + 1</small>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick = "irParaCardapio('adicionar', 'Balcão', undefined, 'BALCÃO')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../Imagens/food-delivery.png">
				<center class="pb-2 label-submenu">
				Pedido Balcão</center>
				<small>CTRL + 2</small>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame('ReservaDeMesa')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../Imagens/dining-table.png">
				<center class="pb-2 label-submenu">
				Pedido Mesa</center>
				<small>CTRL + 3</small>
			</div>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-4 py-2 px-3 ">
		<button class="sub-top" onclick="abrirModais('comanda')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../Imagens/loyalty-card.png">
				<center class="pb-2 label-submenu">
				Comanda </center>
				<small>CTRL + 4</small>
			</div>
		</button>
	</div>

	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick = "carregaFrame('frameSubMenuUltimo')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../Imagens/checklist.png">
			</div>
			<center class="pb-2 label-submenu">
			Pedido Pendentes</center>
			<small>CTRL + 5</small>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick = "carregaFrame('frameSubMenuCaixa')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../Imagens/coin.png">
				<center class="pb-2 label-submenu">
				Movimento Caixa</center>
				<small>CTRL + 6</small>
			</div>
		</button>
	</div>
</div>

<div id="container-search">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço" autofocus></input><br>
		<button id="ok-search" class="button-ok" onclick="procuraCliente()">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>

<div id = "container-comanda">
	<div id="box-comanda" class = "popup">
		<h3>Pedido de Comanda</h3>
		<div class="row-inputs">
			<label for="">Comanda: </label>
			<input id = "domComanda" type="text">
			<label for="">Cliente: </label>
			<input id = "domCli" type="text">
		</div>
		<div class="content-comanda" style = "overflow-y: scroll;">
			<table>
				<thead>
					<tr style = "height: 60px;">
						<th>QTD</th>
						<th style = "text-align: left;">DESCRIÇÃO</th>
						<th>PREÇO</th>
					</tr>
				</thead>
				<tbody id = "adicionarItensPedido">
	
				</tbody>
			</table>
		</div>
		<div class="row divBtnsAcaoComanda">
			<button class="btnAcaoComanda" onclick="validaAntesDeProsseguirComanda(1)">Adicionar Itens</button>
			<button class="btnAcaoComanda" onclick="validaAntesDeProsseguirComanda(2)">Imprimir Fechamento</button>
			<button class="btnAcaoComanda" onclick="validaAntesDeProsseguirComanda(3)">Receber</button>
			<button class="btnAcaoComanda" onclick="validaAntesDeProsseguirComanda(4)">Editar</button>
			<button class="btnAcaoComanda" onclick="validaAntesDeProsseguirComanda(5)">Excluir</button>
			<button style = "width: 5.5rem;" class = "button-cancel" onclick = "voltarFechamento('Comanda', undefined)">Retornar</button>
		</div>
	</div>
	</div>
</div>

<div id="container-mesa">

</div>
<div id = "container-receb">
        
</div>