<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Clientes</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<table class="table table-striped" id="tableGroup">
			<thead class="thead-light">
				<tr>
					<th class="border-right" style="width: 5%;">
						<center>TELEFONE</center>
					</th>
					<th class="border-right  titulo-th" style="width: 15%;" id="thCat"> NOME </th>
					<th class="border-right  titulo-th" style="width: 25%;" id="thDesc"> ENDEREÇO </th>
				</tr>
			</thead>
			<tbody id="listaClienteDelivery">
				<!-- o js ira inserir  -->
			</tbody>
		</table>
		<div class="footer-conteudo" style = "display: none;">
			<div class="row px-2">
				<div class="col-1 offset-11">
					<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
				</div>
			</div>
		</div>
	
	</div>
</div>

<div id="container-alterado">
	<div id="box-alterado" class="popup">
		<img src="../Imagens/delivery.png" style=" width: 70px; margin-bottom: 20px;">

		<p>Cliente: <b id = "modal-cliente"></b></p>
		<p>Telefone: <b id="modal-tel"></b></p>
		<p>CEP: <b id="modal-cep"></b></p>
		<p>Rua: <b id="modal-rua"></b></p>
		<p>Bairro: <b id="modal-bairro"></b></p>
		<p>Frete: <b id="modal-frete"></b></p>
		<p id="modal-frase"><label>Gostaria de alterar o endereço de entrega?</label></p>

		<button id="maisum-modal" onclick="modalTrocaEndereco();" style="width: 40%;" class="button-maisum">Alterar Endereço</button>
		<button id="cancel-modal" onclick="retornar();" class="button-cancel">Cancelar</button>
		<button id="ok-modal" 	  onclick="abrirPedidoDelivery('enderecoBanco');" class="button-ok">Confirmar</button>
	</div>
</div>

<div id = "container-cliente">
	<div class = "alinhamento" id = "listaClientes">
		<h1>Lista de Clientes</h1>
		<div class = "container-table">
			<table>
				<tbody>

					<tr class = "cabecalho">
						<td>TELEFONE</td>
						<td>NOME</td>
						<td>ENDEREÇO</td>
					</tr>

				</tbody>
				<tbody id = "table-client">

				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="container-troca-end">
	<div id="container-content-troca">

	</div>
</div>

<div id="container-endereco">
	<div id="container-content-endereco">
		<div class="col-12" style="margin-top: 20px;text-align: left;">
				<div class="row m-0">

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Código:*</span>
						</div>
						<div class="celula-2 col-1">
							<input id="cod_cli" type="text" class="form-control" aria-label="Sizing example input" name="Código" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="7" disabled>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Nome:*</span>
						</div>
						<div class="celula-2 col-6">
							<input id="nome_cli" type="text" class="form-control" aria-label="Sizing example input" name="Nome" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="40">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">DDD:*</span>
						</div>
						<div class="celula-2 col-1">
							<input id="ddd_cli" type="text" class="form-control" aria-label="Sizing example input" name="DDD" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="3">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Telefone:*</span>
						</div>
						<div class="celula-2 col-2">
							<input id="fone1" type="text" class="form-control" aria-label="Sizing example input" name="Telefone" aria-describedby="inputGroup-sizing-default" placeholder="">
							<button id = "btnAdicionar" style = "display:none; margin-left: 25px; width: 75px; height: 25px;">Adicionar</button>
						</div>
					</div>
					
				</div>
				<hr>

				<div class="col-12">
					<div class="row m-0">
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">CEP da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-2">
								<input id="cep_casa" type="number" class="form-control" aria-label="Sizing example input" name="CEP Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Logradouro da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-5">
								<input id="logradouro_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Bairro da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-3">
								<input id="bairro_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Cidade da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-3">
								<input id="cidade_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Numero da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-1">
								<input id="numero_casa" type="text" class="form-control" aria-label="Sizing example input" name="Num. Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Complemento:</span>
							</div>
							<div class="celula-2 col-4">
								<input id="complemento" type="text" class="form-control" aria-label="Sizing example input" name="Complemento" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="50">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Referencia:</span>
							</div>
							<div class="celula-2 col-4">
								<input id="referencia" type="text" class="form-control" aria-label="Sizing example input" name="Referencia" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="50">
							</div>
						</div>
					</div>
				</div>

				<div class="row footer-modal m-0">
					<div class="offset-8 col-2 my-2">
						<button class="col-12 btn btn-danger position-relative float-left" onclick="fecharModalCadastro()">Sair</button>
					</div>
					<div class="col-2 my-2">
						<button id="cadastrar" class="col-12 btn btn-success position-relative float-right" >Salvar</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">

		require('../js/script.js');
		require('../js/SubEncontrarCliente.js');

	</script>