<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/modal-um.css">
    <link rel="stylesheet" type="text/css" href="../css/penduras.css">
    <title>Extrato</title>
</head>
<div class="tab-principal divPrincipal">
    <div id="menuTrad"></div>
    <div id="menu-pendura" class="popup">


        <!-- Modal para Salvar novo usuario -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100 pl-5" >
	<div class="modal-info-imp position-relative offset-1 col-10 rounded pb-5 px-5 pt-3">		
		<div class="header-modal col-12 p-0">
			<button id="btn-aba-principal" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-cad w-25 ml-3 abas-cad-ativa" >
				<label id="lbl-aba-principal" class="titulo-modal titulo-modal-info-sis titulo-modal-cad titulo-modal-info-sis-ativa" disabled="" >
					Dados da Pendura
				</label>
			</button>
		</div>	
		
		<div class="body-modal py-4">
			<div id="dados-principais-modal" style="display:block;">
				<div class="col-12">
					<div class="row m-0">
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Data prevista para pagamento:</span>
							</div>
							<div class="celula-2 col-2">
								<input id="dt_receber" type="date" class="form-control" aria-label="Sizing example input" name="DataPagamento" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Cliente:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="cliente" type="text" class="form-control" aria-label="Sizing example input" name="Cliente" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="40" disabled>
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Valor pendurado:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="valor_receber" type="text" class="form-control" aria-label="Sizing example input" name="Valor a receber" aria-describedby="inputGroup-sizing-default" placeholder="" onkeyup="Helper.maskMoeda(this,event)" disabled>
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Valor recebido até hoje:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="valor_ja_recebido" type="text" class="form-control" aria-label="Sizing example input" name="Valor ja recebido" aria-describedby="inputGroup-sizing-default" placeholder="" onkeyup="Helper.maskMoeda(this,event)" disabled>
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Receber agora:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="valor_receber_agora" type="text" class="form-control" aria-label="Sizing example input" name="Receber agora" aria-describedby="inputGroup-sizing-default" placeholder="" onkeyup="Helper.maskMoeda(this,event)">
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Número do pedido:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="id_pedido" type="text" class="form-control" aria-label="Sizing example input" name="Númerodo do pedido" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button id="cadastrar" class="col-12 btn btn-success position-relative float-right" >Salvar</button>
				</div>
			</div>
		</div>

	</div>
</div>



        <div class="opcoesPesquisa">
            <button id="op1">Exibir todas penduras</button>
            <button id="op2">Exibir Agendamentos</button>
            <button id="op3">Exibir penduras feitas no período</button>
        </div>
        <table>
            <tr>
                <td colspan="3" class="tituloTabela">Relatório de penduras</td>
            </tr>
            <tr>
                <td class="primeiraTd">Dia p/ pagamento</td>
                <td>Cliente</td>
                <td>Valor Pendurado</td>
            </tr>
            <tbody id='tBody'>
                
            </tbody>
        </table>
        <button id = "botao-fechar" class = "button-cancel" onclick = "carregaFrame('frameSubMenuMovimento','back')">Retornar</button>
    </div>
</div>
<script src="../js/Penduras.js"></script>