<!-- Modal -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100 pl-5">
	<div class="modal-info-imp position-relative  offset-1 col-10 rounded pb-5 px-2">
		<div class="header-modal col-12 p-0" id="divBotoesSuperiores">
			<button id="btn-aba-principal" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-info-sis ml-3 w-50">
				<label id="lbl-aba-principal" class="titulo-modal titulo-modal-info-sis titulo-modal-cad titulo-modal-info-sis-ativa" disabled="" >Cadastrar Produto</label>
			</button>
		</div>

		<div class="body-modal py-4 rounded-top">
			<div id="formCadastroProduto" class="tab-pane fade show active" id="nav-home" role="tabpanel"
				aria-labelledby="nav-home-tab">
				<div class="col-12" id="dados-principais-modal" style="display:block;">
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Código:*
							</span>
						</div>
						<div class="celula-2 col-2">
							<input tabindex="0" id="cod_prod" type="text" class="form-control"
								aria-label="Sizing example input" name="Código" aria-describedby="inputGroup-sizing-default"
								maxlength="6">
						</div>
					</div>
					<div class="cont-celulas" id="celula-sub-cod">
						<div class="celula-1">
							<span class="label-celula">
								SubCódigo:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="sub_cod" type="text" class="form-control" aria-label="Sizing example input"
								name="SubCódigo" aria-describedby="inputGroup-sizing-default" maxlength="2">
						</div>
					</div>
					<div id="divCodBarras">
						
					</div>
					<div class="cont-celulas" id="celula-cod-original">
						<div class="celula-1">
							<span class="label-celula">
								Cod. Original:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="cod_original" type="text" class="form-control" aria-label="Sizing example input"
								name="Cod Original" aria-describedby="inputGroup-sizing-default" maxlength="20">
						</div>
					</div>

					<hr class="separa-linha">

					<!-- div.cont-celulas*3>div.celula-1>span.label-celula^div.celula-2 -->

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Nome Produto:*
							</span>
						</div>
						<div class="celula-2 col-6">
							<input tabindex="1" id="nome_prod" type="text" class="form-control"
								aria-label="Sizing example input" name="Nome Produto"
								aria-describedby="inputGroup-sizing-default" maxlength="40">
						</div>
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Descrição do Produto:
							</span>
						</div>
						<div class="celula-2 col-6">
							<input tabindex="1" id="desc_prod" type="text" class="form-control"
								aria-label="Sizing example input" name="Nome Produto"
								aria-describedby="inputGroup-sizing-default" maxlength="150">
						</div>
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Grupo:
							</span>
						</div>
						<div class="celula-2 col-3">
							<select id="id_grupo" class="custom-select">
							</select>
						</div>
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Medida:
							</span>
						</div>
						<div class="celula-2 col-3">
							<select id="id_umed" class="custom-select">
							</select>
						</div>
					</div>

					<hr class="separa-linha">

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">
								Dt Validade:
							</span>
						</div>
						<div class="celula-2 col-3">
							<input id="dt_valid" type="date" class="form-control" aria-label="Sizing example input"
								name="Dt Validade" aria-describedby="inputGroup-sizing-default" max='2100-12-31'>
						</div>
					</div>
					<div class="cont-celulas" id="celula-corredor">
						<div class="celula-1">
							<span class="label-celula">
								Corredor:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="corredor" class="form-control" aria-label="Sizing example input" name="Corredor"
								aria-describedby="inputGroup-sizing-default" maxlength="5">
						</div>
					</div>
					<div class="cont-celulas" id="celula-prateleira">
						<div class="celula-1">
							<span class="label-celula">
								Prateleira:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="prateleira" class="form-control" aria-label="Sizing example input" name="Prateleira"
								aria-describedby="inputGroup-sizing-default" maxlength="5">
						</div>
					</div>

					<div id = "estoque">
						<hr class="separa-linha">
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">
									Qtd. Minima:
								</span>
							</div>
							<div class="celula-2 col-2">
								<input id="qde_min" type="text" class="form-control" aria-label="Sizing example input"
									onkeyup="Helper.mascaraNumInt(this)" name="Qtd. Minima"
									aria-describedby="inputGroup-sizing-default" maxlength="6">
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">
									Qtd. Atual:
								</span>
							</div>
							<div class="celula-2 col-2">
								<input id="qde_estq" type="text" class="form-control" aria-label="Sizing example input"
									name="Qtd. Atual" onkeyup="Helper.mascaraNumInt(this)"
									aria-describedby="inputGroup-sizing-default" maxlength="6">
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">
									Contr. Estoque:
								</span>
							</div>
							<div class="celula-2 col-3">
								<select id="contr_estq" class="custom-select">
									<option value="S">Ativada</option>
									<option value="N">Desativada</option>
								</select>
							</div>
						</div>
					</div>

					<hr class="separa-linha">

					<div class="cont-celulas">
						<div class="celula-1">
							<span id="valueChange1" class="label-celula">
								Preço de Venda:*
							</span>
						</div>
						<div class="celula-2 col-2">
							<input tabindex="2" id="vl_venda1" type="text" class="form-control"
								aria-label="Sizing example input" name="Valor 1"
								aria-describedby="inputGroup-sizing-default" maxlength="9"
								onkeyup="Helper.maskMoeda(this,event)">
						</div>
					</div>
					<div class="cont-celulas" id="celula-valor-2">
						<div class="celula-1">
							<span id="valueChange2" class="label-celula">
								Valor Tabela 2:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="vl_venda2" type="text" class="form-control" aria-label="Sizing example input"
								name="Valor 2" aria-describedby="inputGroup-sizing-default" maxlength="9"
								onkeyup="Helper.maskMoeda(this,event)">
						</div>
					</div>
					<div class="cont-celulas" id="celula-valor-3">
						<div class="celula-1">
							<span id="valueChange3" class="label-celula">
								Valor Tabela 3:
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="vl_venda3" type="text" class="form-control" aria-label="Sizing example input"
								name="Valor 3" aria-describedby="inputGroup-sizing-default" maxlength="9"
								onkeyup="Helper.maskMoeda(this,event)">
						</div>
					</div>
					<div id = "divValoresIndividuais">
						<hr class="separa-linha">
						<div class="cont-celulas">
							<div class="celula-1">
								<span id="valueChange4" class="label-celula">
									Valor Broto:*
								</span>
							</div>
							<div class="celula-2 col-2">
								<input tabindex="3" id="valorBroto" type="text" class="form-control"
									aria-label="Sizing example input" name="Valor Broto"
									aria-describedby="inputGroup-sizing-default" maxlength="9"
									onkeyup="Helper.maskMoeda(this,event)">
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span id="valueChange5" class="label-celula">
									Valor Média:*
								</span>
							</div>
							<div class="celula-2 col-2">
								<input tabindex="4" id="valorMedia" type="text" class="form-control" aria-label="Sizing example input"
									name="Valor Média" aria-describedby="inputGroup-sizing-default" maxlength="9"
									onkeyup="Helper.maskMoeda(this,event)">
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span id="valueChange6" class="label-celula">
									Valor Gigante:*
								</span>
							</div>
							<div class="celula-2 col-2">
								<input tabindex="5" id="valorGiga" type="text" class="form-control" aria-label="Sizing example input"
									name="Valor Gigante" aria-describedby="inputGroup-sizing-default" maxlength="9"
									onkeyup="Helper.maskMoeda(this,event)">
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="cont-celulas">
				<div class="celula-1">
					<span id = "valueChange4" class="label-celula">
						Valor 4:
					</span>
				</div>
				<div class="celula-2 col-2">
					<input id="vl_venda4" type="text" class="form-control" aria-label="Sizing example input" name="Valor 4" aria-describedby="inputGroup-sizing-default" maxlength="9" onkeyup="Helper.maskMoeda(this,event)">
				</div>
			</div> -->
			</div>

			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button tabindex="7" class="col-12 btn btn-danger position-relative float-left"
						onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button tabindex="6" id="cadastrarProduto" type="submit"
						class="col-12 btn btn-success position-relative float-right">Salvar</button>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- fim modal -->


<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Cadastro de Produtos</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">

	<!-- <div class="row">
		<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Cadastro de Produtos</div>
	</div> -->

	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th class="border-right" style="width: 5%;">
					<center>Edit/Del</center>
				</th>
				<th class="border-right titulo-th" style="width: 10%;" id="thCodigo"> Código </th>
				<th class="border-right titulo-th" style="width: 20%;" id="thNome"> Nome </th>
				<th class="border-right titulo-th" style="width: 20%;"> Grupo </th>
				<th class="border-right titulo-th" style="width: 15%;" id="thPreco">
					<center>Preço</center>
				</th>
			</tr>
		</thead>
		<tbody id="listaProdutos">
			<!-- inserido via js/controller/model -->

		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-md-2 offset-md-10 col-lg-1 offset-lg-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()" disabled>Novo</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	require('../js/script.js');
</script>
<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>
