<div class="row" id="header-sub-menu">
	<img class="pl-3 position-absolute casa" onclick="voltarHome()" src="../img/casa.png">
	<div class="col-lg-2 offset-lg-5 col-md-6 offset-md-4 mb-3 pl-0">
		<h2>
		ESTATÍSTICAS</h2>
		</div>
	<img class=" img-saida img-saida-sub-menu img-saida-personalizar" src="../img/saida.png" alt="" onclick="logout()">
</div>
<div class="row">
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameEstGrupo`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/grupo.png">
				<center class="pb-2 label-submenu">
				Grupos</center>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameEstClientes`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/clientes.png">
				<center class="pb-2 label-submenu">
				Clientes</center>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameEstBalanco`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/balanco.png">
				<center class="pb-2 label-submenu">
				Balanço</center>
			</div>
		</button>
	</div>
</div>
