<div class="row d-none" id="titulo-frame">
    <div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Pedidos Pendentes</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">


    <table class="table table-striped table-light">
        <thead class="thead-light">
            <tr>
                <th class="border-right titulo-th" style="width: 10%;"> <center>Código</center> </th>
                <th class="border-right titulo-th" style="width: 20%;"> Cliente </th>
                <th class="border-right titulo-th" style="width: 10%;"> Tipo </th>
                <th class="border-right titulo-th" style="width: 15%;"> Preço </th>
                <th class="border-right" style="width: 5%;">
                    <center>Opções</center>
                </th>
            </tr>
        </thead>
        <tbody id="listaPedidos">
            <!-- inserido via js/controller/model -->

        </tbody>
    </table>
    <div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" style = "display: none;" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
			</div>
		</div>
	</div>
</div>


<div id="container-pedido-adicionar">

</div>

<!-- JavaScript Bundle with Popper -->
<script type="text/javascript">
    require('../js/script.js');
</script>

<div id="container-mesa">

</div>

<div id="container-receb">
    
</div>

<div id="container-search" style="display: none;">
    <div id="box-search" class="popup">
        <p id="search-title">Pedido para Entrega</p>
        <p id="search-type">Digite: Telefone, Nome ou Endereço</p>
        <input id="input-search" name="Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
        <button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
        <button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
    </div>
</div>