<!-- Modal para Salvar novo usuario -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100 pl-5" >
	<div class="modal-info-imp position-relative offset-1 col-10 rounded pb-5 px-5 pt-3">		
		<div class="header-modal col-12 p-0">

			<button id="btn-aba-principal" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-cad w-25 ml-3 abas-cad-ativa" >
				<label id="lbl-aba-principal" class="titulo-modal titulo-modal-info-sis titulo-modal-cad titulo-modal-info-sis-ativa" disabled="" >
					Dados do Cliente
				</label>
			</button>
			
			<button id="btn-aba-tercearia" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-cad w-25 px-0" >
				<label id="lbl-aba-tercearia" class="titulo-modal titulo-modal-info-sis" disabled="" >
					 Endereço					
				</label>
			</button>

			<button id="btn-aba-secundaria" onclick="acoesAbaModais(this.id);" class="btn-sem-decoracao aba-modal abas-cad w-25 px-0" >
				<label id="lbl-aba-secundaria" class="titulo-modal titulo-modal-info-sis" disabled="" >
				 	Financeiro					
				</label>
			</button>

			<!-- <div class="row">
				<button id="btn-aba-principal" onclick="acoesAbaModais(this.id);" class="aba-modal-ativa btn-sem-decoracao aba-modal col-4 ml-5" style="left:3%;" >
					Dados do Cliente
				</button>
				<button id="btn-aba-secundaria" onclick="acoesAbaModais(this.id);" class="titulo-modal btn-sem-decoracao aba-modal col-4">
					Financeiro
				</button>
			</div> -->
		</div>	
		
		<div class="body-modal py-4">
			<div id="dados-principais-modal" style="display:block;">
				<div class="col-12">
					<div class="row m-0">
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Código:*</span>
							</div>
							<div class="celula-2 col-2">
								<input id="cod_cli" type="text" class="form-control" aria-label="Sizing example input" name="Código" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="7" disabled>
							</div>
						</div>
						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Nome:*</span>
							</div>
							<div class="celula-2 col-5">
								<input id="nome_cli" type="text" class="form-control" aria-label="Sizing example input" name="Nome" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="40">
							</div>
						</div>
						<!-- <div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Apelido:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="apelido" type="text" class="form-control" aria-label="Sizing example input" name="Apelido" aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div> -->
					</div>
				</div>
				<hr>
				<div class="col-12">
					<div class="row m-0 ">

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Data de Nascimento:</span>
							</div>
							<div class="celula-2 col-4">
								<input id="dt_nasc" type="date" class="form-control" aria-label="Sizing example input" name="Dt Validade" aria-describedby="inputGroup-sizing-default" >
							</div>
						</div>

						<!-- <div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Referencia:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="fone2" type="text" class="form-control" aria-label="Sizing example input" name="Telefone 2" aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Telefone 2:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="fone2" type="text" class="form-control" aria-label="Sizing example input" name="Telefone 2" aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div> -->

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">DDD:*</span>
							</div>
							<div class="celula-2 col-1">
								<input id="ddd_cli" type="text" class="form-control" aria-label="Sizing example input" name="DDD" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="3">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Telefone:*</span>
							</div>
							<div class="celula-2 col-3">
								<input id="fone1" type="text" class="form-control" aria-label="Sizing example input" name="Telefone" aria-describedby="inputGroup-sizing-default" placeholder="">
								<button id = "btnAdicionar" style = "display:none; margin-left: 25px; width: 75px; height: 25px;">Adicionar</button>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Telefone 2:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="fone2" type="text" class="form-control" aria-label="Sizing example input" name="Telefone 2" aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Telefone 3:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="fone3" type="text" class="form-control" aria-label="Sizing example input" name="Telefone 3" aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div id = "section-contato">

						</div>

					</div>
				</div>
				<div class="col-12">
					<div class="row m-0">

						<!-- <div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">*Logradouro Casa/Empresa:</span>
							</div>
							<div class="celula-2 col-3">
								<select id="id_logradouro" class="custom-select">
									options adicionados pelo js
								</select>
							</div>
						</div> -->

						<!-- <div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">CEP da Casa/empresa*:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="cep_casa" type="number" class="form-control" aria-label="Sizing example input" name="CEP Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Logradouro da Casa/empresa*:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="logradouro_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Numero da Casa/empresa*:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="numero_casa" type="text" class="form-control" aria-label="Sizing example input" name="Num. Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Complemento:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="complemento" type="text" class="form-control" aria-label="Sizing example input" name="Complemento" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="20">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Referencia:</span>
							</div>
							<div class="celula-2 col-3">
								<input id="referencia" type="text" class="form-control" aria-label="Sizing example input" name="Referencia" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="15">
							</div>
						</div> -->

					</div>
					<hr>
				</div>
			</div>

			<div id="dados-secundarios-modal" style="display:none;">
				<div class="col-12">
					<div class="row m-0">
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Credito:</span>
						</div>
						<div class="celula-2 col-2">
							<input id="credito" type="text" class="form-control" aria-label="Sizing example input" name="" aria-describedby="inputGroup-sizing-default" onkeyup="Helper.maskMoeda(this,event)">
						</div>
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Desconto:</span>
						</div>
						<div class="celula-2 col-2">
							<input id="desconto" type="text" class="form-control" aria-label="Sizing example input" name="" aria-describedby="inputGroup-sizing-default" onkeyup="Helper.maskMoeda(this,event)">
						</div>
					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Situação:</span>
						</div>
						<div class="celula-2 col-3">
							<div class="input-group-prepend">
								<select id="id_situacao" class="custom-select">
									<option value="1">Ativada</option>
									<option value="0">Desativada</option>
								</select>
							</div> 
						</div>

					</div>
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Tipo:</span>
						</div>
						<div class="celula-2 col-3">
							<div class="input-group-prepend">
								<select id="id_fpgto" class="custom-select">
									<option value="1">Dinheiro</option>
									<option value="2">Cartão</option>
								</select>
							</div> 
						</div>
					</div>
				</div>
			</div>

			<div id="dados-tercearios-modal" style="display:none;">
				<div class="col-12">

					<div class="row m-0">
					</div>

					<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">CEP da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="cep_casa" type="number" class="form-control" aria-label="Sizing example input" name="CEP Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Logradouro da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="logradouro_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Bairro da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="bairro_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Cidade da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="cidade_casa" type="text" class="form-control" aria-label="Sizing example input" name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Numero da Casa/empresa:*</span>
							</div>
							<div class="celula-2 col-2">
								<input id="numero_casa" type="text" class="form-control" aria-label="Sizing example input" name="Num. Casa" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="8">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Complemento:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="complemento" type="text" class="form-control" aria-label="Sizing example input" name="Complemento" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="50">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Referencia:</span>
							</div>
							<div class="celula-2 col-5">
								<input id="referencia" type="text" class="form-control" aria-label="Sizing example input" name="Referencia" aria-describedby="inputGroup-sizing-default" placeholder="" maxlength="50">
							</div>
						</div>


				</div>
			</div>

			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button id="cadastrar" class="col-12 btn btn-success position-relative float-right" >Salvar</button>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- fim -->

<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Cadastro de Clientes</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 7%;"> <center>Edit/Del</center> </th>
				<th  class="border-right titulo-th" style="width: 5%;" id = "thCod"> Código </th>
				<th  class="border-right titulo-th" style="width: 12%;" id = "thNome"> Nome </th>
				<th  class="border-right titulo-th" style="width: 10%;" id = "thTelefone"> Telefone </th>
				<th  class="border-right titulo-th" style="width: 30%;"> Endereço </th>
			</tr>
		</thead>
		<tbody id="listaProdutos">
			<!-- inserido apartir de scripts -->
		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()" disabled>Novo</button>
			</div>
		</div>
	</div>
	
	<script type="text/javascript"> 
		require('../js/script.js');
		require('../js/CadClientes.js');
	</script>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>