<div class="row" id="header-sub-menu">
	<img class="pl-3 position-absolute casa" onclick="voltarHome()" src="../img/casa.png">
	<div class="col-lg-2 offset-lg-5 col-md-6 offset-md-4 mb-3 pl-0">
		<h2 style="margin-left:-30px;">
		CONFIGURAÇÕES</h2>
		</div>
	<img class=" img-saida img-saida-sub-menu img-saida-personalizar" src="../img/saida.png" alt="" onclick="logout()">
</div>
<div class="row">
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameConfDadosEstabelecimento`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/engrenagem.png">
				<center class="pb-2 label-submenu">Dados do Estabelecimento</center>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameConfImpressoras`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/impressora.svg">
				<center class="pb-2 label-submenu">Impressoras</center>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameConfCores`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/paint.svg">
				<center class="pb-2 label-submenu">Cores</center>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameInforPC`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/infopc.svg">
				<center class="pb-2 label-submenu">Informações do PC</center>
			</div>
		</button>
	</div>
</div>
<div class="row my-3" id="divTpLogCidadeEstado" style="visibility: hidden">
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxTpLogradouros`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/tipoLogradouros.png">
			</div>
				<center class="pb-2 label-submenu">Tipo Logradouros</center>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxCidades`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/cidades.png">
			</div>
				<center class="pb-2 label-submenu">Cidades</center>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxEstados`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/estado.png">
			</div>
				<center class="pb-2 label-submenu">Estado</center>
		</button>
	</div>
	<!-- <div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top rounded-lg" onclick="carregaFrame(`frameTblAuxNichos`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/nichos.png">
			</div>
				<center class="pb-2 label-submenu">
				Nichos</center>
		</button>
	</div> -->
</div>