<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/caixa.css">
    <title>Caixa</title>
</head>
<div id="container">
    <div id="periodoCaixa">
        <label>Data Inicial: <input id="dtInicial" type="date"></label>
        <p><label>Data Final: <input id="dtFinal" type="date"></label></p>
    </div>
    <div id="menuCaixa">
        <!-- <p><button id='btnExtratoCaixaAberto'>Extrato do Caixa Aberto Atualmente</button></p> -->
        <p><button id='btnExtrato'>Extrato do Caixa</button></p>
        <p><button id='btnPenduras'>Penduras</button></p>
        <p><button id='btnSangria'>Sangria do Caixa</button></p>
        <p><button id='btnAReceber'>Contas a Receber</button></p>
        <p><button id='btnEntrega'>Entregas/Atendimentos</button></p>
        <p><button id='btnRecibo'>Recibo de Retirada</button></p>
    </div>
    <button id="cancel-modal" onclick="carregaFrame('frameSubMenuMovimento','back')" class="button-cancel">Retornar</a></button>
</div>