<!-- Modal para criar novo usuario -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100" >
	<div class="modal-info-imp position-relative col-8 offset-2 rounded ">
		<div class="header-modal col-12 bg-transparent">
			<div class="titulo-modal mt-4 col-4 offset-4">
				<span class="my-2">
					<center>
						Cadastrar Impressora
					</center>
				</span>
			</div>
		</div>

		<div class="body-modal">
			<div class="col-12 px-1">
				<div class="row m-0 pt-2">
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Nome da Impressora:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="apelido" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="10" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Nome do PC onde está instalada:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="nomePC" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="10" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Obs Impressora:</span>
						</div>
						<div class="celula-2 col-4">
							<input type="text" id="obs_impressora" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="20">
						</div>
					</div>


					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Ip da Impressora:</span>
						</div>
						<div class="celula-2 col-3">
							<input type="text" id="ip_impressora" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="12" >
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="col-12 px-1">
				<div class="row m-0 pt-2">

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Marca:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="marca" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="10" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Modelo:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="modelo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="10" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Largura:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="largura" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="5" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Salto:</span>
						</div>
						<div class="celula-2 col-2">
							<input type="text" id="salto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="5" >
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Porta LPT: (número)</span>
						</div>
						<div class="celula-2 col-2">
							<input type="number" id="portaLPT" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" maxlength="2">
						</div>
					</div>
				</div>
			</div>					
			<div class="row footer-modal m-0">
				<div class="offset-8 col-2 my-2">
					<button class="col-12 btn btn-danger position-relative float-left" onclick="addAlt('fechar')">Sair</button>
				</div>
				<div class="col-2 my-2">
					<button id="cadastrar"  class="col-12 btn btn-success position-relative float-right">Salvar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- fim -->

<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Configurção de Impressoras</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 7%;"> <center>Edit/Del</center> </th>
				<th  class="border-right" style="width: 12%;"> <center>Apelido </center></th>
				<th  class="border-right" style="width: 15%;"> <center>obs Impressora</center> </th>
				<th  class="border-right" style="width: 10%;"> <center>Ip da Impressora</center> </th>
				<th  class="border-right" style="width: 15%;"> <center>Marca</center> </th>
			</tr>
		</thead>
		<tbody id="lista">
		</tbody>
	</table>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"> 
	require('../js/script.js');
	require('../js/ConfImpressoras.js');
</script>

<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>