<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4" id="tituloGrande">Ajustes de Períodos</div>
</div>

<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th  class="border-right" style="width: 5%;"> <center>Alteração</center> </th>
				<th  class="border-right" style="width: 15%;"> <center>Periodos</center> </th>
				<th  class="border-right" style="width: 20%;"> <center>Ínicio</center> </th>
				<th  class="border-right" style="width: 20%;"> <center>Fim </center></th>
			</tr>
		</thead>
		<tbody id="listaFuncoes">
		</tbody>
	</table>
	<div class="footer-conteudo">
	</div>
</div>

<script type="text/javascript">
		require('../js/script.js')
</script>

