<link rel="stylesheet" type="text/css" href="../css/frameSubMenuTblAux.css">
<div class="row" id="header-sub-menu">
	<img class="pl-3 position-absolute casa" onclick="voltarHome()" src="../img/casa.png">
	<div class="col-lg-2 offset-lg-5 col-md-6 offset-md-4 mb-3">
		<h2>
		CADASTROS</h2>
	</div>
	<img class=" img-saida img-saida-sub-menu img-saida-personalizar" src="../img/saida.png" alt="" onclick="logout()">
</div>
<div class="row">
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadProdutos`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/fast-food.png">
				<p class="pb-2 label-submenu">Produtos</p>
				<small id="qtdProdutos">...</small>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadGrupos`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2 " src="../img/produtos.png">
				<p class="pb-2 label-submenu">Grupos</p>
				<small id="qtdGrupos">...</small>
			</div>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadClientes`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/search-client.png">
				<p class="pb-2 label-submenu">Clientes</p>
				<small id="qtdClientes">...</small>
			</div>
		</button>
	</div>
</div>
<div class="row my-3">
	<div class="col-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadItensExtras`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/itensExtras.png">
				<p class="pb-2 label-submenu">Itens Extras</p>
				<small id="qtdAdicionais">...</small>
			</div>
		</button>
	</div>

	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadEnderecos`,'modal')">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/endereco.png">
			</div>
			<p class="pb-2 label-submenu">Endereços</p>
			<small id="qtdEnderecos">...</small>
		</button>
	</div>
	<div class="col-sm-4 py-2 px-3 ">
		<button class="sub-top" onclick="carregaFrame(`frameCadFunc`)">
			<div class="col-6 offset-3">
				<img class="w-100 py-2" src="../img/employee-card.png">
				<p class="pb-2 label-submenu">Funcionários</p>
				<small id="qtdFuncionarios">...</small>
			</div>
		</button>
	</div>
</div>
<!-- <div class="row my-3">

</div> -->
<div class="row">

	<div class="col-12  mb-1 titulo-subMenu">
		SubMenu Auxiliar
	</div>
	<div id="botao2" class="col-4 offset-4 my-3">
		<button class="cadastros bloco-menu border border-warning pl-2" onclick="carregaFrame(`frameSubMenuTblAux`,true)">
			<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
				<img class="img-menu-principal  pl-2" src="../img/grid.png">
			</div>
			<p class="pb-2 label-menus">Tabelas Auxiliares</p>
		</button>
	</div>
</div>

<script type="text/javascript">
	require('../js/script.js');
	// setTimeout(()=>{
	// 	qtdRegistrosCad();
	// },1000)
</script>


