<!-- Modal para criar e alterar -->
<div id="camadaModal" class="cria-camada-modal h-100 w-100">
	<div class="modal-info-imp position-relative offset-1 col-10 rounded pb-5 px-5 pt-3">
		<div class="header-modal col-12 p-0">
			<button id="btn-aba-principal" onclick="acoesAbaModais(this.id);"
				class="btn-sem-decoracao aba-modal abas-cad w-25 abas-cad-ativa">
				<label id="lbl-aba-principal"
					class="titulo-modal titulo-modal-info-sis titulo-modal-cad titulo-modal-info-sis-ativa" disabled="">
					Dados Pessoais
				</label>
			</button>

			<button id="btn-aba-secundaria" onclick="acoesAbaModais(this.id);"
				class="btn-sem-decoracao aba-modal abas-cad w-25">
				<label id="lbl-aba-secundaria" class="titulo-modal titulo-modal-info-sis" disabled="">
					Dados Residênciais
				</label>
			</button>

			<button id="btn-aba-tercearia" onclick="acoesAbaModais(this.id);" 
			class="btn-sem-decoracao aba-modal abas-cad w-25 px-0" >
				<label id="lbl-aba-tercearia" class="titulo-modal titulo-modal-info-sis" disabled="" >
				 	Dados do Funcionário					
				</label>
			</button>

		</div>
		<div class="body-modal py-4 rounded-top">
			<div id="formCadastroProduto" class="tab-pane fade show active" id="nav-home" role="tabpanel"
				aria-labelledby="nav-home-tab">
				<div class="col-12" id="dados-principais-modal">
					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Nome Funcionário*:
							</span>
						</div>
						<div class="celula-2 col-6">
							<input id="nome" type="text" class="form-control" aria-label="Sizing example input"
								name="NOME USER" aria-describedby="inputGroup-sizing-sm" maxlength="20">
						</div>
					</div>

					<!-- <div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Login:
							</span>
						</div>
						<div class="celula-2 col-6">
							<input id="operador" type="text" class="form-control" aria-label="Sizing example input" name="Login" aria-describedby="inputGroup-sizing-sm" maxlength="20">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*Senha:
							</span>
						</div>
						<div class="celula-2 col-6">
							<input id="senha" type="password" class="form-control" aria-label="Sizing example input" name="Senha" aria-describedby="inputGroup-sizing-sm" maxlength="30">
						</div>
					</div> -->

					<div class="border-top col-12"></div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">RG:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="rg" type="text" class="form-control" aria-label="Sizing example input" name="RG"
								aria-describedby="inputGroup-sizing-sm" maxlength="8">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">*CPF:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="cpf" type="text" class="form-control" aria-label="Sizing example input"
								name="CPF" aria-describedby="inputGroup-sizing-sm" maxlength="14">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">DDD*:
							</span>
						</div>
						<div class="celula-2 col-1">
							<input id="ddd" type="text" class="form-control" aria-label="Sizing example input"
								name="DDD" aria-describedby="inputGroup-sizing-sm" maxlength="3">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Telefone 1*:
							</span>
						</div>
						<div class="celula-2 col-3">
							<input id="fone1" type="text" class="form-control" aria-label="Sizing example input"
								name="fone1" aria-describedby="inputGroup-sizing-sm" maxlength="10">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Telefone 2:
							</span>
						</div>
						<div class="celula-2 col-3">
							<input id="fone2" type="text" class="form-control" aria-label="Sizing example input"
								name="fone2" aria-describedby="inputGroup-sizing-sm" maxlength="10">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">CNH:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="cnh" type="text" class="form-control" aria-label="Sizing example input"
								name="cnh" aria-describedby="inputGroup-sizing-sm" maxlength="20">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Data de Validade CNH:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="dt_valid_cnh" type="date" class="form-control" aria-label="Sizing example input"
								name="Dt Validade" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Data de Nascimento:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="dt_nasc" type="date" class="form-control" aria-label="Sizing example input"
								name="Dt Validade" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>

					<hr class="separa-linha">

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Nome do Banco:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="banco" type="text" class="form-control" aria-label="Sizing example input"
								name="banco" aria-describedby="inputGroup-sizing-sm" maxlength="18">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Agência:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="agencia" type="text" class="form-control" aria-label="Sizing example input"
								name="agencia" aria-describedby="inputGroup-sizing-sm" maxlength="6">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Conta Bancária:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="conta_banco" type="text" class="form-control" aria-label="Sizing example input"
								name="conta_banco" aria-describedby="inputGroup-sizing-sm" maxlength="10">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Salário:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="salario" type="text" class="form-control" aria-label="Sizing example input"
								name="salario" aria-describedby="inputGroup-sizing-sm" maxlength="8">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Comissao:
							</span>
						</div>
						<div class="celula-2 col-4">
							<input id="comissao" type="text" class="form-control" aria-label="Sizing example input"
								name="comissao" aria-describedby="inputGroup-sizing-sm" maxlength="5">
						</div>
					</div>

					<!-- <div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Nível de Usuário 
							</span>
						</div>
						<div class="celula-2 col-4">
							<select id="id_nivel" class="form-control form-control-sm">
							</select>
						</div>
					</div>-->

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Setor
							</span>
						</div>
						<div class="celula-2 col-4">
							<select id="id_setor" class="form-control form-control-sm">

							</select>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Funções
							</span>
						</div>
						<div class="celula-2 col-4">
							<select id="id_funcao" class="form-control form-control-sm">

							</select>
						</div>
					</div>

				</div>

				<div class="col-12" id="dados-secundarios-modal" style="display:none;">
					<div class="border-top col-12"></div>
					<!-- <div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Logradouro 
							</span>
						</div>
						<div class="celula-2 col-6">
							<select id="id_logradouro" class="form-control form-control-sm" >
							</select>
						</div>
					</div> -->

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">CEP da Casa/empresa*:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="cep_casa" type="number" class="form-control" aria-label="Sizing example input"
								name="CEP Casa" aria-describedby="inputGroup-sizing-default" placeholder=""
								maxlength="8">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Logradouro da Casa/empresa*:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="logradouro_casa" type="text" class="form-control"
								aria-label="Sizing example input" name="Logaradouro Casa"
								aria-describedby="inputGroup-sizing-default" placeholder="" disabled>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Bairro da Casa/empresa*:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="bairro_casa" type="text" class="form-control" aria-label="Sizing example input"
								name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder=""
								disabled>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Cidade da Casa/empresa*:</span>
						</div>
						<div class="celula-2 col-4">
							<input id="cidade_casa" type="text" class="form-control" aria-label="Sizing example input"
								name="Logaradouro Casa" aria-describedby="inputGroup-sizing-default" placeholder=""
								disabled>
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Número da Casa/empresa:*
							</span>
						</div>
						<div class="celula-2 col-2">
							<input id="numero_casa" type="text" class="form-control" aria-label="Sizing example input"
								name="numero casa" aria-describedby="inputGroup-sizing-sm" maxlength="6">
						</div>
					</div>

					<div class="cont-celulas">
						<div class="celula-1">
							<span class="label-celula">Complemento da Casa/empresa:
							</span>
						</div>
						<div class="celula-2 col-5">
							<input id="complemento" type="text" class="form-control" aria-label="Sizing example input"
								name="complemento" aria-describedby="inputGroup-sizing-sm" maxlength="50">
						</div>
					</div>
				</div>

				<div id="dados-tercearios-modal" style="display:none;">
					<div class="col-12">

						<div class="row m-0">
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Login:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="login_func" type="text" class="form-control"
									aria-label="Sizing example input" name="LOGIN USER"
									aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Senha:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="senha_func" type="text" class="form-control"
									aria-label="Sizing example input" name="SENHA USER"
									aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Confirmar Senha:*</span>
							</div>
							<div class="celula-2 col-4">
								<input id="conf_senha_func" type="text" class="form-control"
									aria-label="Sizing example input" name="CONFIRMAR SENHA USER"
									aria-describedby="inputGroup-sizing-default" placeholder="">
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Nível Operacional:*</span>
							</div>
							<div class="celula-2 col-3">
								<select id="id_nivel" class="form-control form-control-sm">

								</select>
							</div>
						</div>

						<div class="cont-celulas">
							<div class="celula-1">
								<span class="label-celula">Frase de segurança:*</span>
							</div>
							<div class="celula-2 col-5">
								<input id="frase_seguranca" type="text" class="form-control" aria-label="Sizing example input"
									name="frase_seguranca" aria-describedby="inputGroup-sizing-sm" maxlength="30">
							</div>
						</div>

					</div>
				</div>


				<div class="col-12 footer-modal m-0">
					<div class="row">
						<div class="offset-8 col-2 my-2">
							<button class="col-12 btn btn-danger position-relative float-left"
								onclick="addAlt('fechar')">Sair</button>
						</div>
						<div class="col-2 my-2">
							<button id="cadastrar"
								class="col-12 btn btn-success position-relative float-right">Salvar</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- fim -->


<div class="row d-none" id="titulo-frame">
	<div class="col-md-6 col-lg-4 titulo-grande ml-4 " id="tituloGrande">Cadastro de Funcionário</div>
</div>
<div id="nav-tabContent" class="col-12 tab-principal p-0 rounded-top tab-content">
	<form class="col-md-12 p-0">
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th style="width: 10%;"> Edit/Del </th>
					<th style="width: 20%;" id="thNome"> Nome</th>
					<th style="width: 25%;" id="thOperador"> Login</th>
					<th style="width: 20%;"> Função</th>
					<th style="width: 20%;"> Nível</th>
				</tr>
			</thead>
			<tbody id="lista">

			</tbody>
		</table>
	</form>
	<div class="footer-conteudo">
		<div class="row px-2">
			<div class="col-1 offset-11">
				<button id="addAlt" class="col-12 btn-primary btn mb-2" onclick="addAlt()">Novo</button>
			</div>
		</div>
	</div>
</div>
</div>


<script type="text/javascript">
	require('../js/CadFunc.js');
	require('../js/script.js');
</script>
<div id="container-search" style = "display: none;">
	<div id="box-search" class="popup">
		<p id="search-title">Pedido para Entrega</p>
		<p id="search-type">Digite: Telefone, Nome ou Endereço</p>
		<input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
		<button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
		<button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>
