<!-- barra de pesquisa -->
<div class="row mx-0">
	<ol class="pl-3 col-4 breadcrumb bg-transparent">
		<li class="breadcrumb-item">
			<button class="btn-sem-decoracao" onclick="voltarHome()">
			Inicial</button>
		</li>
		<li class="breadcrumb-item">
			<button class="btn-sem-decoracao" onclick="carregaFrame('frameSubMenuTblAux','back')">
			SubMenu</button>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
		${nome}</li>
	</ol>
	<div class="col-3 offset-5 p-2">
		<div class="barra-pesquisa position-relative w-100 height-100 input-group">
			<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Pesquisar" id="inputPesquisa">
			<button class="lupa btn-sem-decoracao" id="btnPesquisa">
				<img class="w-100 h-100 position-relative" src="../img/lupa.png">
			</button>
		</div>
	</div>
</div>
<!-- fim -->

<script src="../js/barraPesquisa.js">console.log('Carregou pesquisa')</script>