<div id="container-reservamesa container-fluid" class="title">
    <div class="container-ped col-12">
        <div class="buttons-container-column col-7">
            <div class="container-footer-table">
                <div class="label-table-avaible div-labels-status-mesa">
                    <div class="label-status-mesa">DISPONÍVEL</div>
                    <div class="label-status-mesa">FECHAMENTO</div>
                    <div class="label-status-mesa">OCUPADO</div>
                </div>
            </div>
            <div class="buttons-table-container" id = "buttons-container-identity">
                <button id = "botoes-reserva-add" onclick="validaCamposAntesDeProsseguir(1)">Adicionar Itens</button>
                <button id = "botoes-reserva-fec" onclick="validaCamposAntesDeProsseguir(2)">Imprimir Fechamento</button>
                <button id = "botoes-reserva-rec" onclick="validaCamposAntesDeProsseguir(3)">Receber</button>
                <button id = "botoes-reserva-edi" onclick="validaCamposAntesDeProsseguir(4)">Editar</button>
                <button id = "botoes-reserva-can" onclick="validaCamposAntesDeProsseguir(5)">Excluir</button>
            </div>
            <div class="buttons-container col-7" id="buttons-container">

            </div>
        </div>
        <div class="info-table-client" id = "info-table" style="width: 69%;">
            <div class="table-input-information">
                <label for="">Mesa: </label>
                <input type="number" name="" style = "font-weight: 700;" id="domMesa" onkeyup="listenerCampoNumMesa(this, event)" onchange="listenerCampoNumMesa(this, event)">
                <label for="">Cliente: </label>
                <input type="text" name="" style = "font-weight: 700;" id="domCliente">
            </div>
            <div class="content-table-information" id = "area-amarela">
                <table>
                    <thead>
                        <tr>
                            <td style = "text-align: center;"><b>QTD</b></td>
                            <td><b>DESCRIÇÃO</b></td>
                            <td><b>PREÇO</b></td>
                        </tr>
                    </thead>
                    <tbody id="adiciona-pedido">

                    </tbody>
                </table>
                <div class="group-client-value-total">
                    <div class="group-order-client-row">
                        <p>Subtotal: </p>
                        <p><b id="somaDosItensMesaBtns"></b></p>
                    </div>
                    <div class="group-order-client-row">
                        <p>Taxa De Entrega: </p>
                        <p><b id="taxaEntregaMesa"></b></p>
                    </div>
                    <div class="group-order-client-row">
                        <p>Total a Pagar: </p>
                        <p><b id="valorTotalMesaBtns"></b></p>
                    </div>
                </div>
            </div>
            <button onclick = "goBack('Reserva');" class="btnRetornar">RETORNAR À TELA ANTERIOR</button>
        </div>

    </div>

    <div id="container-mesa">

    </div>

    <div id = "container-receb">
        
    </div>

    <div id="container-search" style = "display: none;">
        <div id="box-search" class="popup">
            <p id="search-title">Pedido para Entrega</p>
            <p id="search-type">Digite: Telefone, Nome ou Endereço</p>
            <input  id="input-search" name = "Pesquisa" placeholder="Telefone, Nome ou Endereço"><br>
            <button id="ok-search" onclick="procuraCliente();" class="button-ok">Ok</button>
            <button id="cancel-search" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
        </div>
    </div>
