<div id="box-fechamento" class="pop-up">
    <h1>Visualização do Pedido</h1>
    <div class="grid">
        <section class="grid-1">
            <div class="container-row-input">
                <label for="">Nº do Pedido: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="nPedido" disabled/>
                <label for="">Cliente: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="nomeCli" disabled/>
                <!-- Depois inserir aqui campos para dados de  -->
            </div>
            <div class="container-row-input" id='divInfoLogradouro' style="display: none;">
                <label for="">Nº Endereço: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="nRuaEntrega" disabled/>
                <label for="">Logradouro: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="nomeRuaEntrega" disabled/>
            </div>
            <div class="client-order-section">
                <table>
                    <thead>
                        <th>QTD</th>
                        <th style = "text-align: left;">DESCRIÇÃO</th>
                        <th>PREÇO</th>
                    </thead>
                    <tbody id="itensFechamento" style = "overflow-y: scroll;">

                    </tbody>
                </table>
            </div>
        </section>
        <section class="grid-2">
            <div class="grid-2-column-align">
                <div class="container-row">
                    <label for="" style = "font-weight: 600;">Subtotal: </label>
                    <input class = "input-fechamento" type="text" name="" id="somaItensFechado" disabled>
                </div>
                <div class="container-row">
                    <label for="">Acréscimo: </label>
                    <input class = "input-fechamento" type="text" name="" id="acrescimoFechamento"  onkeyup="Helper.maskMoeda(this, event);" onchange="listenerCampoAcrescimoDesconto();">
                </div>
                <div class="container-row">
                    <label for="">Desconto: </label>
                    <input class = "input-fechamento" type="text" name="" id="descontoFechamento"  onkeyup="Helper.maskMoeda(this, event);" onchange="listenerCampoAcrescimoDesconto();">
                </div>
                <div class="container-row" id="divFreteFechamento">
                    <label for="">Frete total: </label>
                    <input class = "input-fechamento" type="text" name="" id="input-frete" disabled>
                </div>
                <div class="container-row">
                    <label for="">Dividir por: </label>
                    <input class = "input-fechamento" type="number" name="" id="campoDividirFechamento" step="1" value="1" min="1">
                </div>
                <!--<div class="container-row">
                    <label for="">Nº Pessoas: </label>
                    <input type="text" name="" id="">
                </div>-->
                <div class="container-column">
                    <h3>Total a Pagar</h3>
                    <input type="text" name="" id="valorTotalFechado" disabled>
                </div>
                <div class="container-row">
                    <button id="btnAceitar" onclick="imprimeFechameto(true)">2ª Via</button>
                    <button id="btnVoltar" onclick = "fechaVisuPedido()">Retornar</button>
                </div>
            </div>
        </section>
    </div>
</div>