<div id="container-alterado">
	<div id="box-alterado" class="popup">
		<img src="../../Imagens/delivery.png" style=" width: 70px;">

		<p id="modal-cliente">Cliente:</p>
		<p id="modal-tel">Telefone:</p>
		<p id="modal-cep">CEP:</p>
		<p id="modal-rua">Rua:</p>
		<p id="modal-bairro">Bairro:</p>
		<p id="modal-frete">Frete:</p>
		<p id="modal-frase"><label>Gostaria de alterar o endereço de entrega?</label></p>

		<button id="maisum-modal" onclick="" style="width: 40%;" class="button-maisum">Mais um Botão</button>
		<button id="ok-modal" onclick="SelecionaClientes();" class="button-ok">Ok</button>
		<button id="cancel-modal" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>