<div class="container-content">
    <div class="grid grid-order">

        <div class="box-atalhoEndereco">
            <div class="search-Cardapio">
                <input id="buscaProd" name="buscaProd" placeholder="Digite o nome do produto" onkeyup="enviaTexto()"
                    style="margin-top: 30px; width: 350px;text-align: left;" />
            </div>
            <div class="container-endereco">
                <div class="container-endereco-column row-enderecoCardapio">
                    <div style = "display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <p style = "padding-right: 20px; font-size: 1.2rem;">Cliente: </p>
                        <input id="domBalcao" style="width: 150px; margin-bottom: 15px; height: 30px;"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-Cardapio">
            <section class="menu-section" id="menu-section">
                
                <section id="tabela-produtos">
                    <div id="headerCardapio" class="divHeadCardapio">
                        <div class="linhaDadosCardapio">
                            <p class = "cabecalhoTd" style="height:80px">COD</p>
                            <p class = "cabecalhoTd" style="height:80px; width:19%;">PRODUTO</p>
                            <p class = "cabecalhoTd" style="height:80px">NORMAL</p>
                            <p class = "cabecalhoTd" style="height:80px">BROTO</p>
                            <p class = "cabecalhoTd" style="height:80px">MÉDIA</p>
                            <p class = "cabecalhoTd" style="height:80px">GIGANTE</p>
                            <p class = "cabecalhoTd" style="height:80px"></p>
                        </div>
                    </div>
                    <div class="table-prod" id="table-prod" style= "display: table; width: 100% ; margin-top: 4em;">

                    </tbody>
                </section>
            </section>
            <section class="client-order-section">
                <div class="group-order-client" id="group-order-client">

                    <section class="listaOrder">
                        <div class="cabecalhoListaOrder">
                            <p class="tituloCabecaListaOrder colQtd">QTD</p>
                            <p class="tituloCabecaListaOrder colDesc">DESCRIÇÃO</p>
                            <p class="tituloCabecaListaOrder colVal">VALOR</p>
                            <p class="tituloCabecaListaOrder colOperacoes"></p>
                        </div>
                        <div class="corpoListaOrder" id="corpoOrder">
                            
                        </div>
                    </section>

                </div>
                <div class="group-client-value-total">
                    <hr size='6' color="#000" />

                    <div class="group-order-client-row">
                        <p><b class="resultado-pedidoCardapio">Subtotal</b></p>
                        <p id="somaDosItens" class="soma-pedidoCardapio"></p>
                    </div>
                    <div class="group-order-client-row">
                        <p><b class="resultado-pedidoCardapio">Taxa De Entrega</b></p>
                        <p id="taxaEntrega"></p>
                    </div>
                    <div class="group-order-client-row">
                        <h6 class="resultado-pedidoCardapio">Total a Pagar</h6>
                        <h4 id="valorTotal">

                        </h4>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="container-footer">
        <div class="container-tecla-column row-atalhos">
            <div class="atalho-cardapio" id="f2"> F2 1/2 </div>
            <div class="atalho-cardapio" id="f3"> F3 1/3 </div>
            <div class="atalho-cardapio" id="f4"> F4 1/4 </div>
            <div class="atalho-cardapio btnTroco" id="labelTroco">TROCO </div>
        </div>
        <div class="container-buttons">
            <button id="btnAceitar" onclick="finalizaPedido('Balcao')">OK</button>
            <button id="btnVoltar" onclick="Retornar()">Desistir</button>
        </div>
    </div>
</div>

<div id="itens-extras">
    <div class="container-extras">
        <h2>Selecione o item extra</h2>
        <table style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <td>CÓDIGO</td>
                    <td>PRODUTO</td>
                    <td>VALOR UNITÁRIO</td>
                    <td>OPÇÕES</td>
                </tr>
            </thead>
            <tbody id="container-adiciona-extras">

            </tbody>
        </table>
        <div class="container-buttons">
            <button id="btnVoltar" onclick="fecharModais('itens-extras');">Retornar</button>
        </div>
    </div>
</div>

<div id="seleciona-item-extra">
    <div class="container-seleciona">
        <h2>Selecione o item extra</h2>
        <table style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <td></td>
                    <td>CÓDIGO</td>
                    <td>QUANTIDADE</td>
                    <td>ITEM EXTRA</td>
                    <td>ACRÉSCIMO</td>
                </tr>
            </thead>
            <tbody id="container-adiciona-seleciona">

            </tbody>
        </table>
        <div class="container-buttons">
            <button id="btnAceitar" onclick="adicionarItemExtra();">OK</button>
            <button id="btnVoltar" onclick="fecharModais('seleciona-item-extra');">Retornar</button>
        </div>
    </div>
</div>

<div id="container-ingrediente" style="display: none;">
	<div id="box-ingrediente"   class="popup">
		<p>Nome: <b id="modalIng-nome"></b></p>
		<p>Descrição: <b id="modalIng-descricao"></b></p>
		<p>Valor: <b id="modalIng-valor"></b></p>
        <div id = "controleEstoque" style = "text-align: left;">
            <p>Disponivel: <b id="modalIng-disponivel"></b></p>
        </div>
		<!--Campos broto, normal, giga, só deve aparecer se o prod for pizza-->
		<div id = "precosPizzas" style = "text-align: left;">
            <p>Broto: <b id="modalIng-broto"></b></p>
            <p>Média: <b id="modalIng-normal"></b></p>
            <p>Giga: <b id="modalIng-giga"></b></p>
        </div>
		<button id="cancel-modal" onclick="fecharModalIngrediente()" class="button-cancel-ingrediente">Retornar</a></button>
	</div>
</div>