body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: rgb(255, 255, 255);
    padding: 10vh 5vh 0 5vh;
    border-radius: 10px;
    height: 100%;
}

#menuCaixa{
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}

#menuCaixa>p>button{
    width: 100%;
    background: none;
    padding: 5px;
}

#menuCaixa>p>button:hover{
    width: 100%;
    background: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 81, 255, 0.288);
}

.button-cancel {
    height: 2.5em;
    width: 25%;
    border-radius: 10px;
    background-color: #FF6D6D;
    margin-bottom: 0% !important;
}