/*@import"./menu.css";*/
@import"./delivery.css";
@import"./ReservaDeMesa.module.css";
@import"./PedidoComanda.module.css";
@import"./FechamentoMesa.module.css";

html, body {
    height: 100vh;
    width: auto;
    background-color: #044D70;
    
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*color: #3A3A3A;*/
    text-decoration: none;
    outline: none;
}

@media(max-width:1800px) {
    html {
        font-size: 92.5%;
    }
    /* .group-button-siclop{
        height: 17.3rem;
    } */
}

@media(max-width:720px) {
    html {
        font-size: 85%;
    }
}

.popup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

input {
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}

select {
    border: none;
    border-radius: 0.5rem;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border-radius: 10px;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: gainsboro;
}

button:hover {
    background: rgba(189, 189, 189, 0.9);
}

.button-ok {
    background-color: #6DFF76;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-cancel {
    background-color: #FF6D6D;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-ok:hover {
    background: rgba(48, 255, 62, 0.9);
}

.button-cancel:hover {
    background: rgba(255, 59, 59, 0.9);
}