#container-search {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

.popup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}


input {
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}

select {
    border: none;
    border-radius: 0.5rem;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-ok {
    background-color: #6DFF76;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-cancel {
    background-color: #FF6D6D;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-ok:hover {
    background: rgba(48, 255, 62, 0.9);
}

.button-cancel:hover {
    background: rgba(255, 59, 59, 0.9);
}

#box-search{
    width: 35rem;
    height: 270px;
    text-align: center;
}

#search-title{
    font-size: 2rem;
}

#search-type{
    font-size: 1rem;
    margin-top: 3rem;
    margin-left: 6.5%;
    text-align: left !important;
}

input{
    width: 85%;
}

#container-cliente{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#container-cliente .alinhamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    height: 40rem;
    border-radius: 15px;

}

#container-cliente .alinhamento h1{
    margin-bottom: 20px;
}

#container-cliente .container-table{
    background-color: #efefef;
    border-radius: 15px;
    overflow-x: scroll;
    max-height: 30rem;
}

#container-cliente .container-table .cabecalho td{
    font-size: 1.2rem;
    font-weight: bold;
}

#container-cliente table{
    width: 45rem;
    text-align: center;
    max-height: 35rem;
}

#container-cliente tr{
    height: 80px;
}

#container-cliente td{
    height: 80px;
}

#container-cliente td button{
    height: 50px;
    width: 160px;
}

#container-cliente .circle-button {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    /*margin-left: 50px;*/
}

#container-cliente .title-prod td{
    font-size: 1rem;
}

/* ============== STYLE CONTAINER MESA PEDIDO ================ */

#container-mesa{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#container-mesa .alinhamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 20%;
    margin-top: 5%;
    width: 60%;
    height: 40rem;
    border-radius: 15px;

}

#container-mesa .alinhamento h1{
    margin-bottom: 20px;
}

#container-mesa .container-table{
    background-color: #efefef;
    border-radius: 15px;
    overflow-x: scroll;
    max-height: 30rem;
}

#container-mesa .container-table .cabecalho td{
    font-size: 1.2rem;
    font-weight: bold;
}

#container-mesa table{
    width: 45rem;
    text-align: center;
    max-height: 35rem;
}

#container-mesa tr{
    height: 20px;
}

#container-mesa td{
    height: 60px;
}

#container-mesa td button{
    height: 50px;
    width: 160px;
}

#container-mesa .circle-button {
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

#container-mesa .title-prod td{
    font-size: 0.8rem;
}

/* ============== STYLE CONTAINER ENDERECO =================== */

#container-endereco {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#container-content-endereco{
    width: 80rem;
    height: auto;
    text-align: center;
    background: white;
    margin-left: 6%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#container-troca-end {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#container-content-troca{
    width: 50rem;
    height: 270px;
    text-align: center;
    background: white;
    margin-left: 25%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 20px;
}

#container-content-troca .align-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

#container-content-troca .align-buttons button{
    height: 50px;
}

#container-content-troca .container-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#container-content-troca .container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#container-content-troca .container-row label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}


#container-content-troca .container-row #input-numero{
    width: 5rem;
}

#container-content-troca .container-row #input-referencia{
    width: 7rem;
}

#container-content-troca .container-row #input-rua input{
    width: 16rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 20px;
}

#container-content-endereco .align-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

#container-content-endereco .align-buttons button{
    height: 50px;
}

#container-content-endereco .container-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#container-content-endereco .container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#container-content-endereco .container-row label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}


#container-content-endereco .container-row #input-numero{
    width: 5rem;
}

#container-content-endereco .container-row #input-referencia{
    width: 7rem;
}

#container-content-endereco .container-row #input-rua input{
    width: 16rem;
}

#table-prod>tr:hover{
    background-color: #006da0;
}

.precoCardapio:hover{
    background-color: rgb(0, 142, 207);
}

#table-prod>tr{
    height: 15px;
}

.clientRow:hover{
    opacity: 0.8;
}

.corPreco-normal{
background-color: rgb(4, 77, 112);
}

.corPreco-broto{
background-color: rgb(4, 77, 112);
}

.corPreco-media{
background-color: rgb(4, 77, 112);
}

.corPreco-gigante{
background-color: rgb(4, 77, 112);
}

.trCardapio .linCardapio>td{
    display: flex;
    justify-content: center;
}

.btnTroco{
    cursor: pointer;
}