.divPrincipal{
    padding: 15px;
}

.tituloExtrato{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
}

.tableExtratoCaixa{
    width: 99.5%;
    border-collapse:unset !important;
    border: 1px solid #ccc !important;
    border-radius: 16px !important;
    box-sizing: inherit !important;
    margin: 5px !important;
    padding: 5px !important;
}

.tituloTabela{
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-radius: 8px !important;
    background-color: #ccc;
    padding: 7px;
}

tr{
    border-top: 1px;
    border-top-color: rgb(243, 243, 243);
    padding: 5px;
}

td{
    width: 50%;
}