#box-fechamento{
    width: 75rem;
    height: 650px;
    text-align: center;
}

.popup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#box-fechamento{
    background-color: white;
    /* width: 60%; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 25px;

}

#box-fechamento .grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    margin-top: 35px;
}

#box-fechamento .grid .grid-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36rem;
    margin-left: 25px;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container-row-input{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-1 .container-row{
    width: 100%;
}

.grid-1 .container-row input{
    height: 2rem;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: silver;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 10px;
}

.grid-1 .container-row input + label{
    margin-left: 20px;
}

.grid-1 .container-row input + label + input{
    width: 15rem;
}

.grid-1 .container-row-input{
    width: 100%;
    margin-right: 4px;
}

.grid-1 .container-row-input input{
    height: 3rem;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 10px;
}

.input-fechamento{
    height: 3rem;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gainsboro;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 10px;
}

.grid-1 .container-row-input input + label{
    margin-left: 20px;
}

.grid-1 .container-row-input input + label + input{
    width: 33rem;
}

.grid-1 .client-order-section{
    background-color: khaki;
    width: 95%;
    height: 80%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
}

.grid-1 .client-order-section .group-order-client{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.grid-1 .client-order-section .group-order-client .group-order-client-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 20px;
    margin-left: 40px;
}

.grid-1 .client-order-section .group-order-client .group-order-client-column .title-group-order{
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-1 .client-order-section .group-order-client .group-order-client-column p{
    font-size: 1rem;

    padding-bottom: 30px;
}

.grid-1 .container-row-input button{
    margin-top: 20px;
    height: 3rem;
    width: 7rem;

    margin-left: 20px;

    text-align: center;
    font-size: 1rem;
    background-color: gainsboro;
    cursor: pointer;
}

.grid-1 .container-row-input button:hover{
    background: rgba(189, 189, 189, 0.9);
}

.grid-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    width: 100%;
}

.grid-2 .grid-2-column-align{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
    height: 10rem;
}

.grid-2 .container-row{
    margin-bottom: 20px;
}

.grid-2 .container-row label{
    margin-left: 40px;
}

.grid-2 .container-row input{
    height: 2rem;
    width: 10rem;

    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gainsboro;
}

.grid-2 .container-row + .container-row{
    margin-bottom: 20px;
}

.grid-2 .grid-2-column-align .container-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-2 .grid-2-column-align .container-column input{
    height: 2rem;
    width: 15rem;

    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: gainsboro;
    font-size: 1.2rem;
    font-weight: 600;
}

.grid-2 .grid-2-column-align .container-row button{
    height: 3rem;
    width: 7rem;
    margin-left: 30px;
}

.grid-2 .grid-2-column-align .container-row #btnAceitar{
    background-color: #6DFF76;
}

.grid-2 .grid-2-column-align .container-row #btnVoltar{
    background-color: #FF6D6D;
}

@media only screen and (max-height: 1024px) {
    #box-fechamento .grid .grid-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 36rem;
        margin-left: 25px;
        width: 80%;
    }

    .grid-1 .client-order-section {
        background-color: khaki;
        width: 111%;
        height: 80%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        margin-top: 20px;
        padding-right: 20px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-y: scroll;
    }

    .grid-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50rem;
        margin-left: 36px;
        width: 0%;
    }

    #box-fechamento {
        background-color: white;
        width: 93%;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-left: 50px;
        margin-top: 25px;
    }
    
}

@media only screen and (min-height: 1280px){
    #box-fechamento {
        background-color: white;
        width: 85%;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-left: 113px;
        margin-top: 25px;
    }

    .grid-1 .client-order-section {
        background-color: khaki;
        width: 110%;
        height: 80%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        margin-top: 20px;
        padding-right: 0px;
        margin-left: 67px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-y: scroll;
    }

    .grid-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50rem;
        margin-left: 114px;
        width: 5%;
    }
}