body{
	margin: 0;
	padding: 0;
}

.tela-opaca{
	/*background-color: rgba(31,31,31,.45);*/
	position: absolute;
	height: 100vh;
	width: 100vw;
	/*animation: 20s opacidade;*/
}

.aguarde-loading{
	position: relative;
	top: 15%;
	font-size: 4.5rem;
	color:white;
	animation: 10s visivel;
}

.sub-texto-loading{
	top:0px;
	font-size: 2.5rem;
}

.gifModulo{
	position: relative;
	float: left;
	height: 100vh;
	width:100vw;
	filter: blur(4px);
	animation: 9s blur;
}

.loading-visivel{
	animation: 8s visivel;
}

.img-siclop{
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	/*margin-top: 20%;*/
	animation: 8s visivel;
}

.article-logo{
	margin-top: 5%;
}

@keyframes visivel{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


@keyframes blur{
	0%{
		filter: blur(0px);
		
	}
	50%{
		filter: blur(2px);
		
	}
	100%{
		filter: blur(4px);
		
	}
}

@keyframes opacidade{
	0%{
		
		background-color: rgba(31,31,31,.00);
	}
	50%{
		
		background-color: rgba(31,31,31,.20);
	}
	100%{
		
		background-color: rgba(31,31,31,.45);
	}
}
