@import"./default.css";

#container-menu{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left:0px;
    position: fixed;
    display: none;
}

#box-menu{
    background-color: #003D5A;
    width: 20rem;
    height: 100%;
    text-align: center;
}

#box-button-menu{
 display: flex;
 align-items: center;
 background-color: #003D5A;
 width: 20rem;
 height: 3.5rem;
}

#button-operacao{
    width: 85%;
    height: 11.5rem;
    margin-top: 12%;
}

#button-operacao>img{
    width: 35%;
}