#container-itex{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-itex {
    width: max-content;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.popup-itex {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#container-itens-extras{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-itemExtra{
    width: max-content;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.popup-itExtra{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.tr-itex{
    width: 50px;
    height: 30px;
}

.td-itex{
    width: 10px;
    height: 20px;
    font-weight: 800;
}