#container-alterado {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#box-alterado {
    width: 35rem;
    height: 35rem;
    text-align: center;
    padding: 3%;
}

#box-alterado>p {
    text-align: left;
}

#box-alterado>button {
    height: 3rem;
}


.popup {
    overflow: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.button-maisum {
    background-color: #2fc3fd;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-ok {
    background-color: #6DFF76;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-cancel {
    background-color: #FF6D6D;
    height: 13%;
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.button-maisum:hover {
    background: #22a4d8;
}

.button-ok:hover {
    background: rgba(48, 255, 62, 0.9);
}

.button-cancel:hover {
    background: rgba(255, 59, 59, 0.9);
}

@media only screen and (max-height: 1024px){
    #box-alterado p{
        font-size: 1rem
    }
}
