#container-ingrediente {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#box-ingrediente {
    width: 30rem;
    height: max-content;
    text-align: center;
    padding: 3%;
}

#box-ingrediente>p {
    text-align: left;
}

#box-ingrediente>button {
    height: 3rem;
}


.popup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.button-cancel-ingrediente {
    background-color: #FF6D6D;
    height: 13%;
    width: 25%;
    margin: 2%;
    border-radius: 10px;
}

.button-cancel-ingrediente:hover {
    background: rgba(255, 59, 59, 0.9);
}