#container-receb {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-comanda {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    display: none;
}

#box-comanda{
    width: 60rem;
    height: 550px;
    text-align: center;
}

.popup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

#box-comanda{
    background-color: white;
    width: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

}

#box-comanda .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#box-comanda .row-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 100px;
}

#box-comanda .row-inputs label{
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 800;
}

#box-comanda .row-inputs input{
    margin-right: 20px;
    font-weight: 800;
    width: 5rem;
    height:2.5rem;
    text-align: center;
}

#box-comanda .row-inputs input + label + input{
    width: 20rem;
    text-align: start;
}

#box-comanda .content-comanda{
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    padding-top: 10px;
    width: 90%;
    height: 20rem;
    border-radius: 15px;
    background-color: khaki;
    
}

#box-comanda table{
    width: 100%;
}

#box-comanda table th{
    width: 30%;
    cursor: auto;
}

#box-comanda table th:hover{
    opacity: 1;
}

#box-comanda table td{
    width: 30%;
}

#box-comanda .content-comanda .column + .column{
    margin-left: 30px;
}

#box-comanda .content-comanda .column p{
    font-size: 1.2rem;

    font-weight: 600;
}

#box-comanda button{
    height: 3rem;
    width: 7.5rem;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}

@media only screen and (max-height: 1024px) {
    #box-comanda button{
        width: 5rem;
        font-size: 0.8rem;
    }

    #box-comanda .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 30px;
    }
}

@media only screen and (min-height: 1280px){
    #box-comanda button {
        width: 8rem;
        font-size: 1rem;
    }

    #box-comanda .row-inputs input + label + input {
        width: 25rem;
        text-align: start;
    }
}


