/*.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 100%;
    justify-content: center;
    /*height: 100vh;*/
    height: 100%;
}

.container-content .container-content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
}

.container-content .container-content-title h2{
    padding-top: 30px;
}

.container-content .grid{
    /*display: grid;*/
    display: flex;
    flex-direction: column;
	grid-template-columns: 2fr 2fr;
    
    /*align-items: center;*/
    justify-items: center;
    

    height: 45rem;
    /*width: 100%;*/
    width: 95%;
    /*padding-bottom: 1.5%;*/

}
.search-Cardapio{
    width: 50%;
    padding-left: 11%;
    padding-right: 10%;
    margin-bottom: 1%;
}
.order-Cardapio{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 83%;
}

/*.grid-order .menu-section{
    background-color: #044D70;
    width: 100%;
    height: 80%;

    margin-left: 2rem;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    overflow-y: scroll;

    padding-left: 5px;
    padding-top: 20px;
}*/

.grid-order .menu-section{
    background-color: #044D70;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.group-order .menu-section table{
    width: 100%;
}

.grid-order .menu-section tr{
    width: 90%;
    /*margin-left: 80px;*/
}

.grid-order #menu-section table{
    width: 100%;
}

.grid-order .menu-section .table-prod td{
    /*width: 30px;*/
    /*height: 30px;*/
    margin-left: 15px;
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    /*text-align: left;*/
    font-size: 0.9rem;
}

.grid-order .menu-section .table-prod td p{
    color: white;

}

.grid-order .menu-section td .circle-button{
    font-size: 0.8rem;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
}

.grid-order .menu-section .table-prod td input[type=checkbox]{
    height: 1.2rem;
    width: 1.2rem;
    margin-bottom: 15px;
    background-color: #F4F4F4;
}

.grid-order .menu-section .table-prod td .circle-button:hover{
    cursor: pointer;

    opacity: 0.8;
}

.table-prod tr td {
    height: 80px;
}

/*.grid-order .menu-section .row-menu-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    width: 75%;
}

.grid-order .menu-section .row-menu-header p{
    font-size: 1rem;
    color: white;
    font-weight: 600;

    margin-left: 50px;
}



.grid-order .menu-section .row-menu-header p:first-child{
    margin-left: 40px;
}

.grid-order .menu-section .row-menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    width: 90%;
}

.grid-order .menu-section .row-menu .circle-button{
    font-size: 0.8rem;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    margin-left: 15px;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-order .menu-section .row-menu .circle-button:hover{
    cursor: pointer;

    opacity: 0.8;
} 

.grid-order .menu-section .row-menu p{
    font-size: 0.9rem;
    color: white;
    margin-left: 15px;
    font-weight: 600;
}

.grid-order .menu-section .row-menu input[type=checkbox]{
    height: 1.2rem;
    width: 1.5rem;
    margin-top: 2px;
    background-color: #044D70;
} 

.grid-order .menu-section .row-menu .column-menu p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
} */

/* GRID 2 */

/*.grid-order .client-order-section{
    background-color: khaki;
    width: 90%;
    height: 80%;

    margin-right: 2rem;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding-left: 5px;
    padding-top: 20px;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}*/

@media screen and (max-width: 1024px){
    p{
        font-size: 0.3rem;
    }

    .search-Cardapio {
        width: 50%;
        padding-left: 9%;
        padding-right: 0%;
        margin-bottom: 1%;
    }

    .row-enderecoCardapio {
		display: flex;
		flex-direction: row;
		padding-left: 15%;
		width: 100%;
		text-align: center;
		justify-content: space-between;
		text-align: left;
	}

    .label-values{
        font-size: 0.8rem;
    }

	.container-content .grid{
		height: 40rem;
	} 

	.container-content{
		width: 100%;
		height: 100vh;
		z-index: 5;
		margin-top: 0%;
	}

	.container-footer {
		width: 100%;
		height: 0rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
        margin-top: 22px;
	}

	#container-content-endereco {
		width: 55rem;
        height: auto;
        text-align: center;
        background: white;
        margin-left: 13%;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
	}

	.container-footer .container-buttons {
        margin-left: 20px;
        height: 54px;
	}

    #container-mesa .circle-button {
        height: 15px;
        width: 15px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    #box-ingrediente {
        width: 21rem;
        height: max-content;
        text-align: center;
        padding: 3%;
    }

    #box-ingrediente>button {
        height: 3rem;
        font-size: 0.8rem;
        font-weight: 800;
    }

	.row-atalhos {
        padding-left: 0%;
    }

	.grid-order .client-order-section {
		background-color: khaki;
		width: 100%;
		height: 120%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		/* padding-left: 5px; */
		/* padding-top: 20px; */
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		overflow-x: hidden;
	}

	.grid-order .menu-section {
		background-color: #044D70;
		width: 100%;
		height: 100%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		overflow-y: scroll;
	}

    .grid-order .menu-section .table-prod td p{
        font-size: 0.6rem;
    }

    #container-mesa .title-prod td {
        font-size: 0.6rem;
    }

    .inputBalcao {
        width: 121px;
        font-size: 0.7rem;
    }

    #box-ingrediente{
        width: 19rem;
    }

    #box-ingrediente p {
        font-size: 0.8rem;
    }
}   

.grid-order .client-order-section{
    background-color: khaki;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* padding-left: 5px; */
    /* padding-top: 20px; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.textBalcony{
    font-size: 0.8rem;
    margin-right: 20px;
    margin-left: 30px;
}

.inputBalcao{
    width: 150px;
    height: 30px;
    font-size: 0.8rem;
}

/*.grid-order .client-order-section .group-order-client{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 51px;
    width: 100%;
}*/
.grid-order .client-order-section .group-order-client{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*padding-left: 51px;*/
    width: 100%;
}

.group-order .client-order-section #group-order-client #lista-order{
    width: 100%;
}

.grid-order .client-order-section .group-order-client tr{
    width: 90%;
    /*margin-left: 80px;*/
}  

/*.grid-order .client-order-section .group-order-client td{
    width: 180px;
    height: 30px;
    margin-left: 80px;
    color: #000;
    font-weight: 600;
    text-align: left;

}*/

.grid-order .client-order-section .group-order-client td{
    width: 120px;
    height: 30px;
    /* margin-left: 10px; */
    color: #000;
    font-weight: 600;
}

.grid-order .client-order-section .group-order-client td > input{
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    border: 1px solid black;
}

.grid-order .client-order-section .group-order-client .row-header-pedidos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    margin-top: 20px;
    padding-right: 8rem;
}

.grid-order .client-order-section .group-order-client .row-header-pedidos p{
    margin-left: 50px;
}

.grid-order .client-order-section .group-order-client .row-header-pedidos p+p+p{
    margin-left: 150px;
}

.grid-order .client-order-section .group-order-client .row-content-pedidos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    padding-right: 8rem;
    margin-top: 20px
}

.grid-order .client-order-section .group-order-client .row-content-pedidos p{
    margin-left: 50px;
}

.grid-order .client-order-section .group-order-client .group-order-client-column .title-group-order{
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-order .client-order-section .group-order-client .group-order-client-column p{
    font-size: 1rem;

    padding-bottom: 30px;
}

.grid-order .client-order-section .group-client-value-total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.grid-order .client-order-section .group-client-value-total .group-order-client-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 1rem;

}

.grid-order .client-order-section .group-client-value-total .group-order-client-row h4{
    margin-right: 30px;
}

.grid-order .client-order-section .group-client-value-total .group-order-client-row h6{
    margin-right: 20px;
}

.grid-order .client-order-section .group-client-value-total .group-order-client-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

::-webkit-scrollbar-track {
    background-color: none;
}
::-webkit-scrollbar {
    width: 10px;
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 4px;
}

.grid-order .client-order-section .group-client-value-total .group-order-client-row p{
    font-size: 1rem;

    margin-right: 30px;
}

/* CONTAINER TECLAS ATALHO */

.container-footer{

    width: 100%;
    height: 0rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.container-footer .container-tecla{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    background-color: #EFEFEF;
    width: 18rem;
    height: 5rem;

    margin-left: 2rem;
    margin-bottom: 20px;
    padding-left: 5%;
}

.container-footer .container-tecla .container-tecla-column p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.container-footer .container-tecla .container-tecla-column{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.container-footer .container-tecla .container-tecla-column + .container-tecla-column{
    margin-left: 50px;
}

.container-footer .container-mesa-endereco{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 50px;

    border-radius: 15px;

    background-color: #EFEFEF;
    width: 15rem;
    height: 5rem;

    margin: 0 2rem;
    margin-bottom: 20px;
}

.container-footer .container-mesa-endereco .container-mesa-endereco-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    
    margin: 0 2rem;
}

.container-footer .container-mesa-endereco .container-mesa-endereco-column + .container-mesa-endereco-column{
    margin-left: 30px;
}

.container-footer .container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    padding-bottom: 1%;
    /*margin-left: 50px;*/
}

.container-footer .container-buttons #btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 15px;
}

.container-footer .container-buttons #btnVoltar{
    height: 3rem;
    width: 9rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 15px;
}

.container-footer .container-buttons #btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

.container-footer .container-buttons #btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

#buttonQtd{
    width: 30px;
    height: 50px;
}

.container-footer .container-buttons button + button{
    margin-left: 50px;
}

.container-footer .container-endereco{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 50px;

    border-radius: 15px;

    background-color: #EFEFEF;
    width: 40rem;
    height: 8rem;

    margin: 0 2rem;
}

.container-footer .container-endereco .container-endereco-column{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    
    margin: 0 2rem;
}

.container-footer .container-endereco .container-endereco-column + .container-endereco-column{
    margin-left: 30px;
}

/* POPUP PEDIDO MEIO A MEIO */

#pizza-meio{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left:0px;
    position: fixed;
    display: none;
}

.container-pizza{
    width: 45rem;
    height: 600px;
    text-align: center;
    background: white;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
}

.container-pizza .container-buttons #btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 15px;
}

.container-pizza .container-buttons #btnVoltar{
    height: 3rem;
    width: 9rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 15px;
}

.container-pizza .container-buttons #btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

.container-pizza .container-buttons #btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

#container-adiciona-pizzas{
    overflow-y: scroll;
}

/* POPUP ITENS EXTRAS */ 

#itens-extras{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left:0px;
    position: fixed;
    display: none;
}

.container-extras{
    width: 45rem;
    height: 600px;
    text-align: center;
    background: white;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
}

.container-extras .container-buttons #btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 15px;
}

.container-extras .container-buttons #btnVoltar{
    height: 3rem;
    width: 9rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 15px;
}

.container-extras .container-buttons #btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

.container-extras .container-buttons #btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

#container-adiciona-extras{
    overflow-y: scroll;
}

/* LISTA SELECIONA ITEM EXTRA */

#seleciona-item-extra{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left:0px;
    position: fixed;
    display: none;
}

.container-seleciona{
    width: 45rem;
    height: 600px;
    text-align: center;
    background: white;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
}

.container-seleciona .container-buttons #btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 15px;
}

.container-seleciona .container-buttons #btnVoltar{
    height: 3rem;
    width: 9rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 15px;
}

.container-seleciona .container-buttons #btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

.container-selecionas .container-buttons #btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

#container-adiciona-seleciona{
    overflow-y: scroll;
}


.tdValorProduto{
	cursor: pointer;
    max-width: 90px;
}

.descProduto{
    text-align: left;
}
/*
.trCardapio:hover{

	background-color: #19be58;
    color: white;
}*/

.trCardapio:hover>.corPreco-normal{
	
	background-color: #006da0;
    color: white;

}
.trCardapio:hover>.corPreco-broto{
	
	background-color: #007cb6;
    color: white;

}
.trCardapio:hover>.corPreco-media{
	
	background-color: #008aca;
    color: white;

}
.trCardapio:hover>.corPreco-gigante{
	
	background-color: #0099e0;
    color: white;

}

.btnAddMinus{
    cursor: pointer;
}

.container-endereco{
    align-items: right;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.box-atalhoEndereco{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row-atalhos{
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    width: 50%;
    text-align: center;
    height: 40px;
    margin-bottom: 1%;
}

.row-enderecoCardapio{
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    text-align: left;
}

.row-enderecoCardapio>div{
    margin-right: 15%;
}

.atalho-cardapio{
    display: flex;
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 100px;
    background-color: #066896;
    color: white;
    margin: 3px;
    border-radius: 5px;
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 800;
    cursor: pointer;
}


.resultado-pedidoCardapio{
    font-weight: 100;
}

.soma-pedidoCardapio{
    font-weight: bolder;
}

#headerPedido>tr{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 43.88em;
    height: 4em;
    padding-top: 2em;
    background-color: var(--amarelo-cardapio);
}

#headerPedido>tr>td{
    width: calc(100%/6);
}

#table-order{
    margin-top: 4em;
    display: block;
    justify-content: space-between;
}

#headerCardapio>tr{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 43.88em;
    height: 4em;
    padding-top: 2em;
    background-color: var(--azulSiclop);
}