table{
    width: 96.5%;
    margin: 20px 20px 20px 20px;
}

td{
    width: 40%;
    cursor: pointer;
}

table, th, td {
    border: 1px solid rgb(204, 204, 204);
    padding: 5px;
}

input :disabled{
    background-color: black;
}

.tituloTabela{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.primeiraTd{
    width: 0px;
}

.button-cancel{
    height: 30px;
    width: 70px;

}

.opcoesPesquisa{
    width: 96.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.opcoesPesquisa button{
    padding: 5px;
    background-color: #101010;
    color: white;
}

#dt_receber{
    width: 150%;
}