@import './pedidoParaMesa.module.css';

/*Container*/
#container-home {
    height: auto;
    width: 100vw;
}


/*Barra de Tarefa*/
#taskbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #003D5A;
    height: 3.5rem;
}

#taskbar h2{
    margin-right: 2%;
    color: white;
}

/*Botão Menu*/
#button-menu{
    background: rgba(0, 0, 0, 0);
    width: 4rem;
    margin: 0.75rem;
}


#svg-menu{ /*Desenho dentro do botão Menu*/
    position: relative;
    text-align: center;
}


/*Navegador*/
.group-buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 17rem;
}

.button-browser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    width: 25rem;
    height: 15rem;
    background-color: white;

    border-radius: 20px;
}

.button-browser>img{
    width: 40%;
}

/*Botão SICLOP*/

.group-button-siclop{
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: #044D70; */
    margin-top: 2rem;
}

.group-button-siclop .button-browser-siclop{
    float: right;
}
.group-button-siclop img{
    width: 5rem;
    border-radius: 1rem;
}