@media only screen and (max-height: 1024px){
    html{
        font-size:  70.4%;
    }

    .container-footer-table{
        
    }

    .container-ped .info-table-client .table-input-information {
        /*margin-right: 100px;*/
    }

    .container-ped .buttons-container-column .buttons-container{
        
    }

    .buttons-table-container button{
        font-size: 0.8rem;
    }

    .buttons-table-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 0 0;
    }

    .container-ped .info-table-client .group-client-value-total .group-order-client-row p{
        font-size: 0.8rem;
    }

    #somaDosItensMesaBtns{
        font-size: 1rem;
    }

    #taxaEntregaMesa{
        font-size: 1rem;
    }

    #valorTotalMesaBtns{
        font-size: 1rem;
    }

}

@media only screen and (min-height: 1280){
    html{
        font-size: 92.4%;
    }

    .container-ped .info-table-client .group-client-value-total .group-order-client-row p{
        font-size: 1rem;
    }
}

.buttons-container{
    max-height: 550px;
}

.group-client-value-total{
    display: flex;
    width: auto !important;
    position: absolute;
    height: auto;
    background-color: khaki;
    margin-top: 32em;
    padding-top: 0.5em;
    margin-left: 0.5em;
    border-radius: 0.7em;
}

.div-labels-status-mesa{
    display: flex;
    width: 100%;
    padding: 10px 0;
}

.label-status-mesa{
    margin: 0 10px 0 0;
    padding: 5px;
    height: 2.5rem; 
    width: 120px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    border-radius: 5px;
}

.label-status-mesa:nth-child(1){
    border: 1px solid grey;
    color: grey;
    background: #aaaaaa26;
}
.label-status-mesa:nth-child(2){
    border: 1px solid yellow;
    color: grey;
    background: #ffff0026;
}
.label-status-mesa:nth-child(3){
    border: 1px solid tomato;
    color: grey;
    background: #ff634726;
}

.btnMesa{
    font-weight: 700 !important;
    width: 105px !important;
    height: 4rem !important;
}

.btnMesaOcupada{
    background-color: tomato !important;
}

.btnMesaFechamento{
    background-color: yellow !important;
}

.btnMesaLivre{
}

.btnMesaOcupada:hover{
    box-shadow: 0 0 10px tomato;
}
.btnMesaFechamento:hover{
    box-shadow: 0 0 10px yellow;
}
.btnMesaLivre:hover{
    box-shadow: 0 0 10px grey;
}

.container-ped{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: lavenderblush;
    height: 60rem;
}

.buttons-container-column{
    height: auto;
}

.container-ped .buttons-container-column .buttons-container{    
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 15px;
    overflow-y: scroll;
}

.container-ped .buttons-container .container-row-buttons{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-ped .buttons-container .container-row-buttons button{
    height: 3rem;
    width: 3rem;

    background-color: gainsboro;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}

.container-ped .info-table-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 60%;

    /*margin-top: 2.5rem;*/
    margin: 10px;

}

.container-ped .info-table-client .table-input-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-ped .info-table-client .table-input-information input{
    height: 3rem;
    width: 4rem;

    text-align: center;

    font-size: 1rem;
    font-weight: 700;
}

.container-ped .info-table-client .table-input-information label{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
} 

.container-ped .info-table-client .table-input-information label + input{
    margin-left: 15px;
}

.container-ped .info-table-client .table-input-information label + input + label{
    margin-left: 20px;
}

.container-ped .info-table-client .table-input-information label + input + label + input{
    width: 18rem;
    text-align: start;
    font-size: 1em;
    font-weight: 600;
}

#container-cliente tr{
    height: 20px;
}

#lista-order td {
    /*width: 2360px;*/
    height: 55px;
}

.container-ped .info-table-client .content-table-information{
    background-color: khaki;
    width: 90%;
    height: 530px;
    max-height: 530px;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    overflow-y: auto;
}

.container-ped .info-table-client .content-table-information table{
    width: 100%;
}

.container-ped .info-table-client .content-table-information table td{
    font-weight: 600;
    height: 50px;
    margin-bottom: 10px;
}
.container-ped .info-table-client .content-table-information table tr{
    height: 50px;
}

.container-ped .info-table-client  .group-order-client{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.container-ped .info-table-client  .group-order-client .group-order-client-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 20px;
    margin-left: 40px;
}

.container-ped .info-table-client  .group-order-client .group-order-client-column .title-group-order{
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-ped .info-table-client  .group-order-client .group-order-client-column p{
    padding-bottom: 30px;
}

.container-ped .info-table-client  .group-client-value-total{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 5px;
}

.container-ped .info-table-client  .group-client-value-total .group-order-client-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 31px;
}

.container-ped .info-table-client  .group-client-value-total .group-order-client-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.container-row-buttons{
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: none;
}
::-webkit-scrollbar {
    width: 10px;
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 4px;
}

.container-ped .info-table-client  .group-client-value-total .group-order-client-row p{
    margin-right: 10px;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lavenderblush;
}

.container-footer-table{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    
}


.btnRetornar{
    margin: 10px 0;
    background-color: tomato;
    height: 2.5rem;
    width: 100%;
    color: white;
}

.buttons-table-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.td-align{
    text-align: left;
}

.buttons-table-container button{
    background-color: rgb(192, 192, 192);
    height: 3rem;
    width: 100px !important;
    text-transform: uppercase;
}

/* ESTILO DAS MODAIS */

#container-pedido-adicionar{
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left:0px;
    position: fixed;
    display: none;
}

.container-pizza{
    width: 45rem;
    height: 600px;
    text-align: center;
    background: white;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
}

.container-pizza .container-buttons #btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 15px;
}

.container-pizza .container-buttons #btnVoltar{
    height: 3rem;
    width: 9rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 15px;
}

.container-pizza .container-buttons #btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

.container-pizza .container-buttons #btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

#headerPedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
}

#headerPedido>tr>td{
    width: calc(100%/3);
}

#headerCardapio>tr{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 43.88em;
    height: 4em;
    padding-top: 2em;
    background-color: var(--amarelo-cardapio);
}