:root {
	--bg-borda-modal-ativa: #076b99;
	--azulSiclop: #044D70;
	/*--bg-borda-modal-ativa-2 : rgb(243, 243, 243);*/
	/*--bg-borda-modal-ativa-2 : #8da3e0;*/
	--bg-borda-modal-ativa-2: #ffffff;
	--bg-borda-modal-inativa: #d11414;
	--amarelo-cardapio: khaki;

}

;

body div img main {
	position: relative;
	float: left;
	overflow: hidden;
}

input {
	text-transform: uppercase;
}

.casa {
	height: 50px;
	width: 74px;
	cursor: pointer;
}

.titulo-th {
	text-align: center;
}

.casa:hover {
	animation: animaSaida 1s;
}

.input-logradouro {
	display: initial;

}

button:focus, button:active {
	outline: none;
}

.w-33 {
	width: 33% !important;
}

.txt-label {
	left: .7rem;
	text-align: left !important;
}

.btn-sair-acima-main {
	position: absolute;
	right: 0;
	top: -12px;
}

.img-saida-personalizar {
	width: 44% !important;
}

.aguarde-mensagem-ola {
	position: relative;
	top: 15%;
	font-size: 4.5rem;
	color: white;
	animation: 10s visivel !important;
}

.vamos-comecar {
	color: white;
	opacity: 0;
	animation: 6s ease 0s 1 normal none running aparecer;
	animation-delay: 3s;
}

.divBtnsAcaoComanda{
	margin: 10px !important;
	padding: 0 !important;
	justify-content: space-evenly !important;
	width: 90% !important;
}

.btnAcaoComanda{
	text-transform: uppercase;
	width: 100px !important;
	margin: 0 !important;
}

th{
	cursor: pointer;
}

th:hover {
	opacity: 0.8;
}

@keyframes aparecer {
	0% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.txt-num {
	padding-left: .7rem;
	text-align: center !important;
}

.table td, .table th {
	padding: 0rem !important;
	padding-left: .3rem !important;
	padding-right: .3rem !important;
}

.titulo-subMenu {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 500;
}

.cont-input-conf {
	margin-left: 15px;
	width: 100%;
}

.lupa {
	width: 15%;
	height: 38px;
	position: absolute;
	float: right;
	left: 85%;
	z-index: 15;
	background-color: #007bff4d !important;
}

.container-barra-pesquisa {
	height: 50px;
	position: relative;
}

.cria-camada-modal {
	z-index: 3;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	background: #66666666;
	display: none;
	position: fixed;

}

.camada-modal-cria-usuario {
	z-index: 3;
	background: #66666666;
	display: none;
}

.modal-cria-usuario {
	z-index: 5;
	margin-top: 2%;
}

.tab-principal {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #f8f9faf2;
	height: 83vh;
	padding: 0rem;
	background: white;
	border-radius: .25rem !important;
}

.label-menus {
	font-size: calc(.5rem + 1vw);
	font-weight: 500;
	color: #424242;
	text-shadow: 1px 1px 3px #eaf4ff;
}

.modal-info-imp {
	margin-top: 1.5%;
	width: initial;
}

.footer-conteudo {
	/*position: absolute;*/
	/*background: #e9ecef80;*/
	position: relative;
	bottom: 0px;
	width: 100%;
}

.modal-dialog {
	z-index: 1500;
}

.conteudoMain {
	flex: 0 0 87.666667%;
	max-width: 87.666667%;
	overflow-y: scroll;
	overflow-x: hidden;
	/*height: auto;*/
}

.btn-sem-decoracao {
	border: none;
	color: none;
	background-color: transparent;
}

.btn-sem-decoracao:active {
	border: none;
	color: none;
	background-color: transparent;
}

main {
	height: 100%;
}

/*.jumbotron {
	padding-top: 2rem;
}*/

.btn-prox-ante {
	border-radius: 15px;
	margin: 5px 2px;
	width: 100px;
	padding: 0px;
	margin: 0px;
	border: 1px;
	border-radius: 0px;
	background-color: #ffffff00;
	background: #0072ff36;
	/*background: linear-gradient(45deg, #2ea4d2 0%, #7d84e8 100%);*/
}

.img-saida {
	position: relative;
	width: 50%;
	text-align: -webkit-center;
}

.img-saida:hover {

	border: 1px #666;
	animation: animaSaida 1s;
}

.img-saida-sub-menu {
	cursor: pointer;
	position: absolute;
	right: 10px;
	height: 50px;
	width: 52px !important;
	margin-top: -4px;

}

#nav-botoes {
	width: -webkit-fill-available !important;

}

.setas {
	height: 12px;
	margin-top: -2px;
}

.img-salvar {
	height: 24px;
}

@keyframes animaSaida {
	33% {
		transform: rotate(-20deg);
	}

	66% {
		transform: rotate(20deg);
	}
}

.back-siclop {
	width: 150px;
	height: 150px;
	margin: 30px;
	margin-top: 90px;
	/*border-radius: 250px 0 0 0;*/
}

.back-viva {
	width: 150px;
	height: 150px;
	margin: 30px;
	margin-top: 90px;
}

.back-natural {
	width: 150px;
	height: 150px;
	margin: 30px;
	margin-top: 90px;
	/*border-radius: 0 0 250px 0;*/
}

.back-preto {
	width: 150px;
	height: 150px;
	margin: 30px;
	margin-top: 90px;
	padding: 0px;
	/* border-radius: 0 0 250px 0; */
}

.menu-bar {
	/*position: flex; */
	/*float: left;*/
	width: 100%;
	background: linear-gradient(45deg, #2ea4d2 0%, #7d84e8 100%);
}

.dropdown-menu {
	margin-left: -15px;
}


.navbar-collapse {
	padding-right: 100px;
}

#navbarSupportedContent {
	z-index: 3;
}

.body-modal {
	background-color: #aad5f7;
	/*margin-left: 3rem;*/
	/*height: 86vh;*/
	/*margin-top: -8px;*/
	margin-top: -1.5%;
	max-height: 86vh;
	overflow: auto;
	overflow-x: hidden;
	padding: 0px 25px;
	/*box-shadow: inset 0px 2px 20px -15px rgba(0,0,0,0.75);*/
	/*background: linear-gradient(38deg, rgb(7, 255, 186) 0%, rgba(0,212,255,1) 100%);*/
	/*background: radial-gradient(circle, rgba(7,255,186,1) 0%, rgba(0,212,255,1) 100%);*/
	background: radial-gradient(circle, #ffffff 0%, #ffffff 100%);
}

.tab-dado-estab {
	display: none !important;
}

.active {
	display: block !important;
}


.abas-info-sis, .abas-cad {
	width: calc(100%/5);
	/*margin-left: -45px; linha que impede das guias ficarem do tamanho correto*/
	padding: 0;
	/*background: #ffffff*/
	transition: all .4s;
	background: transparent !important;
	border-bottom: 0px solid var(--bg-borda-modal-ativa) !important;
	/*box-shadow: inset 0px 3px 30px -10px rgba(0,0,0,0.75);*/

}

.abas-cad {
	margin-left: -5px;
	border-bottom: 0px solid #ededed !important;
	/*#ededed*/
}

.abas-info-sis:hover, .abas-info-sis-ativa, .abas-cad-ativa {
	z-index: 2;
	cursor: pointer;
	/*border-bottom: 12px solid var(--bg-borda-modal-ativa) !important;*/
}

.abas-info-sis>.titulo-modal, .titulo-modal-info-sis, .titulo-modal-cad {
	/*border-bottom: 5vh solid var(--bg-borda-modal-ativa);*/
	border-bottom: 6.5vh solid #119bda;
	transition: all .2s;
	cursor: pointer;
	box-shadow: 1px -6px 20px -16px rgb(2, 2, 2);
}

.titulo-modal-cad {
	border-bottom: 5.6vh solid #ffffff !important;
}

.abas-info-sis>.titulo-modal:hover {
	border-bottom: 5.5vh solid var(--bg-borda-modal-ativa) !important;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5;
}

.titulo-modal-info-sis-ativa, .titulo-modal-cad-ativa {
	/*border-bottom: 5vh solid var(--bg-borda-modal-ativa) !important;*/
	border-bottom: 5vh solid var(--bg-borda-modal-ativa-2) !important;

	/*font-size: 1.75rem !important;*/
	font-size: calc(.2rem + 1.3vw) !important;
	font-weight: 500 !important;
	line-height: 1.5 !important;
}

.titulo-modal-cad-ativa {
	border-bottom: 6.5vh solid var(--bg-borda-modal-ativa) !important;
}



.cont-info-sis {
	margin-top: -12px;
}

main {
	height: 95vh;
	width: 100vw;
	z-index: 2;
}

label {
	margin-bottom: 0;
}

.bg-siclop {
	background: linear-gradient(45deg, #2ea4d2 0%, #7d84e8 100%);
}

.videoLoading {
	width: 100vw;
	position: absolute;
}

.label-thead {
	font-size: 1.3rem;
}

.logradouto-input {
	max-width: initial !important;
}

.input-group-text {
	background: aliceblue;
	min-width: 100px;
	max-width: 150px;
}

.input-group-prepend {
	margin-right: -1px;
	min-width: 100px;
	max-width: 150px;
	max-height: 38px;
}

.cont-celulas {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	height: 39px;
}

.cont-celulas-receb {
	position: relative;
	float: left;
	width: 100%;
	height: 39px;
}

.label-celula {
	/*font-weight: 500;*/
	/*font-size: 1.3rem;*/
	font-size: 1.1rem;
	margin-left: 10px;


}

.label-celula::after {
	content: ". . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . ";
	width: 100%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	margin-left: 10px;
	padding-right: 10px;
	position: absolute;
	float: left;
}

.label-celula-receb {
	/*font-weight: 500;*/
	/*font-size: 1.3rem;*/
	font-size: 1.1rem;
	margin-left: 10px;


}

.label-celula-receb::after {
	content: ". . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . . . "
		". . . . . . . . . . . . . . . . . . .R$ ";
	width: 100%;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	margin-left: 10px;
	padding-right: 10px;
	position: absolute;
	float: left;
}

.celula-1 {
	position: relative;
	float: left;
	height: 97%;
	width: 45%;
	margin-top: 10px;
	/*border: #bdbdbd solid 1px;*/
	border-radius: 15px;
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-x: hidden;
	list-style: none;
}

.celula-2 {
	position: relative;
	float: left;
	height: 100%;
	/*height: auto;*/
	width: 55%;
	padding: 0;
	padding-left: 8px;
}

.celula-2>.form-control {
	/*box-shadow: 0px 2px 26px -15px rgba(0,0,0,0.75);*/
	border-radius: 12px;
	font-weight: 500;
	background-color: rgb(249, 249, 249);
}

.celula-2>select {
	height: 98%;
	border-radius: 12px;
}

.tit-dados-adicionais {
	position: relative;
	float: left;
	width: 100%;
	margin: 7px 6px !important;
}

.separa-linha {
	position: relative;
	float: left;
	margin-top: 4px;
	width: 100%;
}

.icone {
	height: 25px;
	width: 25px;
}

.bloco-menu {
	/*background: linear-gradient(45deg, #2ea4d2 0%, #7d84e8 100%);*/
	background: #2ea4d2;
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
    border-color: #2778c4 !important;
	transition: 0.7s;
}

button {
	text-decoration: none;
}

.bloco-menu:hover{
	transform: scale(1.1);
}

.sub-top {
	position: relative;
	width: 100%;
	background: #f8f9fa;
	transform: skewY(0deg);
	/*font-family: 'Caveat', cursive;*/
	/*font-family: 'Yellowtail', cursive;*/
	border-radius: 20px;
	transition: 0.7s;
}

#btn-aba-principal {
	margin-left: 0px !important;
}

.sub-top:hover {
	background: #ffffffa6;
}

@keyframes opacidade {
	0% {
		background: #FFF;
	}

	100% {
		background: #ffffffa6;
	}
}

.label-submenu {
	margin-left: -15px;
	font-size: calc(.3rem + 1.5vw);
	color: #424242;
	text-shadow: 1px 1px 3px #eaf4ff;
}

.img-menu {
	width: 100%;
}

.tab-content {
	height: 97%;
}

.titulo-grande {
	border-bottom: 4vh solid #e9ecef80;
	/*border-left: 30px solid transparent;
	border-right: 30px solid transparent;*/
	height: 30px;
	width: 80px;
	padding-left: .5rem;
	display: block;
	text-align: center;
	font-size: 1.75rem;
	margin-top: .6rem;
	font-weight: 500;
	line-height: 1.2;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.linha-titulo-frame {
	border-bottom: #dedede 1px solid;
}

.aba-modal:hover {
	/*background: aliceblue;*/
	border-bottom: 4vh solid #bedff9;
	border-bottom: 4vh solid #e9ecef;

}

.aba-modal-ativa {
	/*background: aliceblue;*/
	border-bottom: 4vh solid #bedff9;
	border-bottom: 4.5vh solid #e9ecef;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	margin-top: -.5vh;
	height: 30px;
	padding-left: .5rem;
	background: transparent;
	display: block;
	/*vertical-align: middle;*/
	text-align: center;
	/*border-radius: 10px;*/
	font-size: 1.39rem;
	font-weight: 500;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

.aba-modal-ativa:hover {
	border-bottom: 4.5vh solid #e9ecef;
}

.identificacao-tab {
	color: #007bff !important;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.footer-botoes-nav {
	position: absolute;
	float: left;
	bottom: 0;
	width: 97%;
	height: 24px;
}

.footer-modal {
	position: relative;
	float: left;
	width: 100%;
}

.titulo-modal {
	/*border-bottom: 4vh solid #aad5f7e0;*/
	/*border-bottom: 4vh solid rgba(237,237,237,1);*/
	border-bottom: 4vh solid var(--bg-borda-modal-ativa);

	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	/*border-radius: 10px;*/
	height: 30px;
	/*padding-left: .5rem;*/
	background: transparent;
	display: block;
	/*vertical-align: middle;*/
	text-align: center;
	font-size: 1.39rem;
	font-weight: 500;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 0px 8px 23px -4px rgba(255, 255, 255, 1);
}

.nav-tabs {
	background: #e9ecef80;
}

.semi-transparente {
	background: #e9ecef80;
	border-radius: 20px;
}

.sub-titulos {
	font-size: 1.3rem;
	margin-top: 1rem;
	display: block;
	margin-bottom: 1rem;
	text-align: center;
}

.body-menu {
	overflow: hidden;
}

.prop-olho-no-rango {
	position: absolute;
	bottom: -120px;
	transform: rotate(320deg);
	margin-left: 90%;
	max-width: 5%;
	animation: animaOnr 8s;
}

@keyframes animaOnr {
	from {
		margin-left: 98%;
		bottom: -300px
	}

	to {
		margin-left: 90%;
		bottom: -120px;

	}
}

.prop-olho-no-rango-trad {
	position: absolute;
	bottom: -120px;
	max-width: 25%;
	animation: animaOnrTrad 8s;
}

@keyframes animaOnrTrad {
	from {
		bottom: -300px
	}

	to {
		bottom: -120px;
	}
}

.titulo-siclop {
	/*font-style: italic;*/
	font-size: calc(1.3em + 1vw);
	color: white;
	font-weight: 600;
	text-shadow: 0px 1px 3px #000;
	font-family: serif;
	display: block;
	text-align: center;
	animation: aparecer 3s;
}

.tamanho-titulo-siclop {
	font-size: calc(1em + 1vw);
	color: white;
}

.container {
	position: relative;
	float: left;
	/*margin-top: 7%;*/
	height: 30%;
	width: 100%;
}

.cont-botao-aparecer-menu {
	position: relative;
	float: left;
	width: 80%;
	height: 60px;
	margin: 15px 10%;
	/*background: yellow;*/
}

/*#botao-aparecer-menu:active ~ .cont-sub-menu,*/
/*.aparecer{
	overflow: visible;
	height: auto;
	max-height: 400px;
	
	}*/

.img-menu-sub-menu {
	margin-left: 5px;
	height: 70px;
	margin-left: 16px;
}

.sub-menu-escondido {
	overflow: hidden;
	max-height: 0;
	max-width: 70px;
	line-height: 1;
	transition: all .6s;
}

.botao-aparecer-menu {
	height: 100%;
	width: 100%;
	background: green;
}

.menu-fixado {
	position: fixed !important;
	z-index: 10;
	background: #fffffff5;
	height: fit-content;
	padding: 0px 15px 10px 0px;
	border-bottom-right-radius: 5px;
	transition: all .6s;
	max-height: 100%;
	border-bottom-left-radius: 5px;
	left: 10px;
}

.menu-fixado:hover {
	cursor: pointer;
	box-shadow: 0px 8px 23px -4px rgba(255, 255, 255, 1);
}

/*.img-menu-sub-menu:hover{
	box-shadow: 0px 8px 55px 3px rgba(255,255,255,1);
	transition: all .5s;
	}*/

.container-cont-menu {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	/*overflow-x: hidden;
    overflow-y: scroll;*/
}

.cont-sub-menu {
	margin: 0px;
}

.aparecendo {
	animation: 1s aparecer;
}

.conf-breadcrumb, .conf-breadcrumb>button {
	font-weight: 500;
	font-variant: small-caps !important;
	font-size: calc(.5rem + .5vw);
}

.img-menu-principal {
	padding-top: 1rem;
	padding-bottom: .5rem;
	width: 80%;
}

.submenu-aux {
	width: 25%;
	flex: 25%;
	max-width: 25%;
}

.inputBalcao {
	width: 250px;
	margin-bottom: 15px;
	height: 50px;
	font-weight: 800;
}

.textBalcony {
	padding-right: 20px;
	font-size: 1.2rem;
	font-weight: 800;
}

@keyframes aparecer {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#mostraNome {
	opacity: 0;
	animation: 10s desaparecer;
}

@keyframes desaparecer {
	0% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes aumentarTamanho {
	from {
		height: 100%;
		width: 100%;
		margin-top: 0%;
		margin-left: 0%;
	}

	to {
		height: 115%;
		width: 110%;
		margin-top: -5%;
		margin-left: -5%;
	}
}

/*responsividade de classes em relação  a altura da tela*/
@media only screen and (min-height: 800px) {
	.modal-cria-usuario {
		z-index: 7;
		margin-top: 0%;
	}
}

@media only screen and (min-width: 1280px) {

	.conf-breadcrumb, .conf-breadcrumb>button {
		font-size: calc(0.3rem + 0.7vw);
	}

	.modal-info-imp {
		margin-left: 6rem;
	}

	.btn {
		font-size: 1rem;
	}

	.label-menus {
		font-size: calc(0.7rem + 0.7vw);
		font-weight: 450;
	}

	.titulo-modal {
		font-size: 1.5rem;
	}

	.atalho-cardapio {
		display: flex;
		padding-left: 1px !important;
		padding-right: 1px !important;
		width: 100px;
		background-color: #066896;
		color: white;
		margin: 3px;
		border-radius: 5px;
		margin-top: 0px;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: 0.7rem;
		font-weight: 800;
	}

	.tdValorProduto {
		font-size: 0.7rem;
	}

	.titulo-grande {
		font-size: 1rem;
	}

	.menu-bar {
		height: 100vh;
	}

	.img-menu {
		max-width: 140px;
	}

	.label-input {
		font-size: 1rem;
	}

	.container {
		margin-top: 4%;
	}

	.txt-label {
		font-size: 1rem;
	}

	.txt-num {
		font-size: 1rem;
	}

	.titulo-th {
		font-size: 1rem;
	}

	.border-right {
		font-size: 1rem;
	}

	.modal-info-imp {
		/*margin-left: 12rem;*/
		width: 100%;
		padding-bottom: 0px;
		/*margin-top: 0%;*/
		margin-top: 2%;
	}

	.label-submenu {
		font-size: 1.2rem;
	}

	.img-menu-principal {
		height: 80%;
		width: 80%;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.tdValorProduto p {
		font-size: 0.95rem;
	}

	#container-mesa .title-prod td {
		font-size: 0.6rem;
	}

	.cabecalhoTd {
		font-size: 0.7rem;
	}

	.container-footer .container-buttons {
		padding-bottom: 2%;
	}

	.container-content .grid {
		width: 98%;
		height: 42rem;
	}

	.row-atalhos {
		height: 72px;
	}

	.tdPreencherNota {
		font-size: 1rem;
	}

	.textoInfo {
		font-size: 0.8rem;
		margin-bottom: 5px;
	}

}

@media only screen and (max-width: 1024px) {
	.conf-breadcrumb, .conf-breadcrumb>button {
		font-size: calc(0.3rem + 0.7vw);
	}

	.modal-info-imp {
		margin-left: 6rem;
	}

	.textBalcony {
		padding-right: 9px;
		font-size: 0.9rem;
		font-weight: 800;
	}

	.circle-button {
		height: 15px;
		width: 15px;
		margin-bottom: 10px;
		margin-left: 50px;
	}

	.row-enderecoCardapio {
		display: flex;
		flex-direction: row;
		padding-left: 14%;
		width: 100%;
		text-align: center;
		justify-content: space-between;
		text-align: left;
	}

	.btnAddMinus {
		cursor: pointer;
		height: 15px;
		width: 15px;
	}


	#lista-order td {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		/* width: 2360px; */
		height: 55px;
		font-size: 0.8rem;
	}

	.btn {
		font-size: 0.7rem;
	}

	.label-celula {
		font-size: 0.9rem;
	}

	.custom-select {
		font-size: 0.9rem;
	}

	.form-control {
		font-size: 0.8rem;
	}

	.label-menus {
		font-size: calc(0.3rem + 1vw);
		font-weight: 450;
	}

	.titulo-modal {
		font-size: 1rem;
	}

	.trCardapio {
		font-size: 0.7rem;
	}

	.titulo-grande {
		font-size: 1rem;
	}

	.menu-bar {
		width: 1024px;
	}

	#conteudoMain {
		width: 1024px;
	}

	.img-menu {
		max-width: 140px;
	}

	.label-input {
		font-size: 0.5rem;
	}

	.container {
		margin-top: 4%;
	}

	.btn-sem-decoracao {
		font-size: 1rem;
	}

	.label-submenu {
		font-size: clamp(0.9em, 0.9em + 1vw, 0.9em);
	}

	.txt-label {
		font-size: 1rem;
	}

	.txt-num {
		font-size: 1rem;
	}

	.titulo-th {
		font-size: 1rem;
	}

	.border-right {
		font-size: 1rem;
	}

	.menu-section {
		height: 80%;
	}

	.client-order-section {
		height: 80%;
	}

	.search-Cardapio {
		width: 50%;
		padding-left: 0%;
		padding-right: 10%;
		margin-bottom: 1%;
	}

	.tdValorProduto p {
		font-size: 0.95rem;
	}

	.cabecalhoTd {
		font-size: 0.7rem;
	}

	.trCardapio .linCardapio {
		height: 30px;
	}

	#box-comanda {
		width: 65%;
	}

	.container-content .grid {
		width: 98%;
		height: 42rem;
	}

	.textoInfo {
		font-size: 0.8rem;
		margin-bottom: 5px;
	}

}

.tdDescProduto{
	width: 400px !important;
}

.tdValorProduto{
	width: 200px !important;
}

.input-nome{
	max-width: 50% !important;
}

.input-sizeLograd {
	max-width: 50% !important;
}

#inf-pc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10%;
	font-size: 1.5em;
}

.imgBack {
	width: 100%;
	height: 100%;
}

.imgBack img {
	width: 100%;
	height: 25px;
}

.imgBack button {
	width: 100%;
	height: 25px;
}

#headerPedido {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	height: auto;
}

#headerPedido>tr>td {
	width: calc(100%/3);
}

#headerCardapio>tr {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 43.88em;
	height: 4em;
	padding-top: 2em;
	background-color: var(--amarelo-cardapio);
}

#colorsTheme {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#botoesTemas {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 2em;
}

#botoesTemas>label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
	font-weight: 700;
}

#botoesTemas>div {
	margin: 0.5em;
    display: flex;
    align-items: center;
	width: 15em;
}

#botoesTemas>div>input {
	margin: 0.5em;
}

.botoesCores {
	width: 4em;
	height: 2em;
	/*margin-bottom: 2em;
	margin-right: 1em;*/
}

input[type="color"] {
	appearance: auto;
    width: 2em;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    padding: 1px 2px;
    /* height: 2em; */
    /* cursor: default; */
    /* box-sizing: border-box; */
    /* border-width: 1px; */
    /* border-image: initial; */
}

#botoesTemas>span {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: red;
	display: inline-block;
}

.btnReset {
	background-color: #FF6D6D;
	height: 20%;
	width: auto;
	margin: 2%;
	border-radius: 10px;
	padding: 7px;
}

#simul-hibrido {
	display: flex;
	background-color: #044D70;
	width: 35em;
	height: 20em;
	border-radius: 20px;
}

#simul-botaoMenu {
	background-color: rgb(235, 235, 235);
	width: 5em;
	height: 5em;
	border-radius: 19px 0px 10px 0px;
}

#simul-tela {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    justify-content: center;
    margin: 1em;
    border-radius: 10px;
}

#simul-cardapio{
	background-color: rgb(231, 199, 129);
	height: 80%;
}
.flexRow{
	display: flex;
	flex-direction: row;
}

#simul-ladoAzul {
	background-color: #115399;
	width: 100%;
    height: 100%;
}

#simul-ladoAmarelo {
	background-color: khaki;
	width: 100%;
    height: 100%;
}

#simul-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
#simul-botaoOk {
	background-color: rgb(1, 228, 1);
	height: 2em;
	width: 5em;
	margin: 0.5em;
	border-radius: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
}

#simul-botaoVoltar {
	background-color: #FF6D6D;
	height: 2em;
	width: 5em;
	margin: 0.5em;
	border-radius: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 43.88em;
    height: 4em;
    padding-top: 2em;
    background-color: var(--amarelo-cardapio);
}

.divCarregamento{
    background-color: #000000b9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.divCarregamento h1 {
	color: white;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}