p{
    margin:0;
}

/*Estilo lado esquerdo cardápio*/
.divInfoProdutos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.divHeadCardapio{
    width: 100%;
}

.linhaDadosCardapio{
    width: 100%;
    display: flex;
    font-weight: bold;
    padding: 0 20px;
    align-items: center;
}

.linhaHeadCardapio{
    padding: 5px 20px;
}

.colDadosCardapio{
    width: 20% !important;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
}

.colDadosCardapioNormal, .colDadosCardapioBroto, .colDadosCardapioMedia, .colDadosCardapioGiga{
    justify-content: center;
}

.linhaDetalheCardapio:hover{
    background: #ffffff23;
}

.linhaDetalheCardapio:hover .colDadosCardapioNormal{
    background: #ffffff22;
}
.linhaDetalheCardapio:hover .colDadosCardapioBroto{
    background: #ffffff44;
}
.linhaDetalheCardapio:hover .colDadosCardapioMedia{
    background: #ffffff66;
}
.linhaDetalheCardapio:hover .colDadosCardapioGiga{
    background: #ffffff88;
}

.colDadosCardapioCod{
    text-align: left;
    width: 8%!important
}

.colDadosCardapioDesc{
    width: 40%!important;
    text-align: left;
}

.colDadosCardapioMaisInfo{
    width: 5%!important;
}

.divCorpoCardapio{
    width: 100%;
    color: #ffffff;
}

.btnRedondoMaisInfo{
    border-radius: 10px;
    font-size: 100%;
    height: 20px;
    width: 20px;
}

.textoValorProduto{
    color:#ffffff!important
}








/*Estilo lista direita de prod adicionado*/
.listaOrder{
    width: 100%;
}

.cabecalhoListaOrder{
    display: flex;
    padding: 20px;
    font-weight: bold;
}

.tituloCabecaListaOrder{
    font-weight: bold;
}

.colQtd{
    width: 15%;
}
.colDesc{
    width: 60%;
}
.colVal{
    width: 10%;
    text-align: right;
}
.colOperacoes{
    width: 15%;
}

.linhaDetalheProduto{
    width: 100%;
    display: flex;
    padding: 10px;
}
.colDescDetalhe{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}
.colOperacoesDetalhe{
    width: 15%;
}