#containerPagamento{
  display: flex;
  flex-direction: column;
  width: 86%;
  height: 90%;
  background-color: rgb(255, 254, 253);
  overflow-y: scroll;
  padding: 20px;
  border-radius: 5px;
}

#telaPagamento{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    border-radius: 30px;
    max-height: 85%;
}

.informacoesCliente{
  width: 57%;
  height: auto;
  margin-left: 30px;
}

.row-pendura{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
 
}

.row-receb{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row-inputs-receb{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 15px;
}

.row-inputs-receb p {
  margin-right: 15px;
  margin-bottom: 0px;
}

.tabelaPedidoRecebimento{
  background-color: rgb(253, 245, 125);
  width: 600px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.table-row-receb{
  height: 80px;
}

.table-row-receb-header{
  height: 80px;
}

.grid-1-pag{
  width: 90%;
  height: 100%;
  border: 1px solid #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.div-combo-func{
  margin: 10px 0;
}

.container-recebidos{
  height: 6rem;
  border: 1px solid #bbbbbb;
  border-top: none;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.grid-2-pag{
  width: 43.5rem;
  height: 100% !important;
  border: 1px solid #bbbbbb;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.tituloTipoPagamento{
  margin: 10px;
}

.container-toggles{
    width: 100%;
}

.container-input-pag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.container-input-pag p{
    margin-bottom: 5px;
    font-size: 1.1rem;
    margin-right: 5px;
    font-weight: 600;
}

#detalhePedido{
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 245, 125);
    border-radius: 10px;
    width: 500px;
}

#detalhePedido>div{
    padding: 1%;
    width: 100%;
}

#valoresPedido{
    text-align: end;
}

.container-inputs-totais { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container-vltot-txent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column-receb{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 30px;
}

.container-vltot-txent p{
    margin-bottom: 5px;
}

.container-inputs-receb p {
  margin-bottom: 5px;
}

.container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

#btnAceitar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #6DFF76;

    border: none;
    border-radius: 5px;

}

#btnVoltar{
    height: 3rem;
    width: 8rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FF6D6D;

    border: none;
    border-radius: 5px;

}

#btnAceitar:hover{
    background: rgba(48, 255, 62, 0.9);
}

#btnVoltar:hover{
    background: rgba(255, 59, 59, 0.9);
}

/* ========== BOTÃO TOGGLE STYLE (todos da tela de pagamento)  ========== */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.col-atendente{
  width: 42%;
  max-width: 50% !important;
}
.select-atendente{
  width: 100%;
}

.btnOKPag{
  width: 8rem;
  background-color: #24dc24;
  font-weight: bolder;
}