body{
	height: 100vh;
	/*background: linear-gradient(45deg, #2ea4d2 0%, #7d84e8 100%);*/
	background: #044D70;
	/*background: radial-gradient(ellipse at center, #9591b6 0%,#ffffff 0%,#7d84e8 100%);*/
	overflow-y: hidden;
}

.divConteudoInstalacao{
	background: var(--azulSiclop);
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	z-index: 1;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid var(--azulSiclop); /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.txt-carregando{
	margin: 10px;
}

.secaoEscolhaInstall{
	border: 1px solid #dcdcdc;
	padding: 50px;
	border-radius: 20px;
}

.divItensInstalacaoServ{
	border: 1px solid #dcdcdc;
	background-color: #ffffff;
	padding: 50px;
	border-radius: 20px;
	display: none;
}

.listaPassosInsta{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tituloLista{
	text-align: center;
}

.linhaCheck{
	margin: 20px 0;
	display: flex;
	align-items: center;
	padding: 5px;
}

.linhaCheck input{
	margin: 0 5px 0 0;
}

.linhaCheck input:checked ~ label {
	opacity: 0.5;
}

.labelCheckInstala{
	color: #000000;
}

.loader-list{
	margin: 0 auto;
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid var(--azulSiclop); /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 5s linear infinite;
}

.rodape-tab{
	position: absolute;
	bottom: -12%;
}
.cont-imgs{
	width: 45%;
}
.seta{
	width: 45px;
	position: relative;
}

.nav-link{
	padding: .5rem .7rem;
}

.cont-tab{	
	overflow-y: auto;
	overflow-x: hidden;
}

#nav-botoes{
	float: right;
	width: 40%;
}

.celula-1-inforsis{
	/*width: 55% !important;*/
	width: 45% !important;
}

.celula-2-inforsis{
	width: 55% !important;
}

h3 {
	position: relative;
	z-index: 1;
}

h3:after {
	border-top: 1px solid #bcbcbc;
	content:"";
	margin: 0 auto; 
	position: absolute; 
	top: 21px;
	left: 15%;
	bottom: 0;
	/*width: 75%;*/
	width: 100%;
	z-index: -1;
}

.tit-dados-adicionais:after{
	/*left: 30%;*/
	left: 0%;
}

.tit-dados-estab:after{
	left: 45%;
}

.input-group-prepend {
	margin-right: -1px;
	min-width: 100px;
	max-width: 200px;
	max-height: 38px;
}

.input-group-text {
	background: aliceblue;
	min-width: 100px;
	max-width: 180px;
}

.subli{
	left: 0px;
}

.jumbotron {
	padding: 3rem 1rem;
}

.tab-pane{
	display: none;
}

li>a{
	color: black;
}

button>a{
	padding: 0px;
}

.btn-prox-ante>a{
	text-decoration: none;
	color:initial;
}

.txt-aguarde{
	float: left;
	margin-top:50px;
	height: 50px;
	width: 50px;
	margin-left: 122%;
	position: relative;
	opacity: 0;
	animation: 7s invisivel;
}


.form-cadastro{
	background-color: white;
	position: relative;
	width: 100%;
	float: left;	
	animation: 10s visivel;
    overflow-y: auto;
    overflow-x: hidden;
}

.margin-top-10{
	/*margin-top:7%;*/
	margin-top:10%;
}

input{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 16px;
	line-height: 3;
}

footer{
	padding: 0px;
    margin: 0px;
    background-color: #00000033;
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100vw;
    color: white;
    font-weight: 650;
    animation: 3s visivel;
}

.icone-rede{
	width: 50px;
}

.container-login{
	height: 75%;
}

.tab-principal, .header-modal{
	animation: 10s visivel;
	overflow-y: hidden;
	overflow-x: hidden;
}
/*
.tab-pane{
	display: none !important;
}

.tab-content>.active {
    display: block !important;
}
*/
.tab-principal{
	margin-top: -12px;
}

.nav-tabs .nav-item {
	background-color: #e9ecefd9;
}

.part-form-cadaster{
	width: 60%;
}

.part-img{
	display: flex;
    align-items: center;
    flex-direction: column-reverse;
	width: 40%;
}

a:link{
	color: inherit;
	text-decoration: none;
}

.footer-botoes-nav{
	position: absolute;
    float: left;
    bottom: 0;
    width: 100%!important;
    height: 24px;
}

@keyframes visivel{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes invisivel{
	0%{
		opacity: 1;
	}
	60%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
	}
}

.img-siclop{	
	position: relative;
	/*margin: 0 auto;*/
	margin: auto;
	width: 80%;
	/*padding-left: 5%;
	padding-right: 5%;*/
	float: left;
	margin-top: 25%;
	animation: 8s movimentacao;
	border-radius: 20px;
}



@keyframes movimentacao{
	0%{
		margin-top: 15%;
		margin-left: 50%;
		width:150%;
		
	}
	60%{
		margin-top: 15%;
		margin-left: 50%;
		width:150%;
		
	}
	100%{
		margin-top: 25%;
		margin-left: 10%;
		width: 80%;
	}
}

h2 {font-size: calc(1.5em + 0.5vw);}

.part-footer{
	width: 33%;
	float: left;
    margin-top: -5px;
}

.icone-rodape{
    /*height: 37px;*/
	height: 30px;
    top: 11px;
	margin: 5px;
}

.cont-comp-footer{
	position: relative;
	width: 300px;
	height: 50px;
	margin: auto;
    font-size: clamp(.5rem, 1.3vw, 2rem);
}
.cont-comp2-footer{
	/*width: 380px;*/
	width: auto;
}
.inptCadaster{
	min-width: 130px;
}

.lbl-componente2-footer{
	margin-top: .8rem;
	/*font-size: clamp(1rem, 2.5vw, 2rem); */
	font-size: clamp(.5rem, 1.3vw, 2rem);
}

.lbl-componente1-footer{
	margin-top: 1.2rem;
	font-size: clamp(.5rem, 1.3vw, 2rem);
}

@media only screen and (min-width: 1600px) {
	/*.cont-comp2-footer {
		width: 550px;
	}*/
}

@media only screen and (max-height: 680px) {

	.jumbotron{
		padding: 0px;
	}

	

}

@media only screen and (max-width: 1600px) {
	#nav-botoes{
		float: right;
		width: 26%;
	}
	.lbl-componente2-footer {
	    margin-top: 1.3rem;
	}

	.cont-imgs{
		width: 90%;	
	}
}

@media only screen and (max-width: 1435px) {

	.titulo-grande{
		font-size: 1.4rem;
	}

	h4{
		font-size: 1rem;
	}

	#nav-botoes{
		float: right;
		width: 20%;
	    border-top: #dedfe0 1px solid;
	}

}

@media only screen and (max-width: 992px) {
	

	.titulo-grande{
		font-size: 1.28rem;
	}

}

.abas-infosis{
	padding-bottom: 6px !important;
}
.input-infosis{
	max-width: 50% !important;
}

.btn-impressora-infosis{
	height: 39px;
}

input[type="text"]:disabled{
    color:rgb(119, 119, 119);
	background-color: rgb(218, 218, 218);
}

h3>span{
	background-color: white;
}

.btn-esqueci{
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: small;
	margin-left: 1rem !important;
	height: 1.5rem;
}

i{
	position: relative;
	float: right;
	cursor: pointer;
}

.divSenha{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 55%;
}

.divSenha img{
	width: 30px;
	margin-left: -40px;
}

.divSenha input{
	padding-right: 45px;
}