<div class="container-content">
    <input id="buscaProd" name="buscaProd" placeholder="Digite o nome do produto" onkeyup="enviaTexto()"
        style="margin-top: 30px; width: 350px;text-align: left;" />
    <div class="grid grid-order">
        <section class="menu-section" id="menu-section">
            <section id="tabela-produtos" class="divInfoProdutos">
                <div id="headerCardapio" class="divHeadCardapio">
                    <div class="linhaDadosCardapio linhaHeadCardapio">
                        <p class="colDadosCardapio colDadosCardapioCod">COD</p>
                        <p class="colDadosCardapio colDadosCardapioDesc">PRODUTO</p>
                        <p class="colDadosCardapio colDadosCardapioNormal">NORMAL</p>
                        <p class="colDadosCardapio colDadosCardapioBroto">BROTO</p>
                        <p class="colDadosCardapio colDadosCardapioMedia">MÉDIA</p>
                        <p class="colDadosCardapio colDadosCardapioGiga">GIGANTE</p>
                        <p class="colDadosCardapio colDadosCardapioMaisInfo"></p>
                    </div>
                </div>
                <div class="divCorpoCardapio" id="table-prod">
                    
                </div>
            </section>
        </section>
        <section class="client-order-section">
            <div class="group-order-client" id="group-order-client">
                
                <section class="listaOrder">
                    <div class="cabecalhoListaOrder">
                        <p class="tituloCabecaListaOrder colQtd">QTD</p>
                        <p class="tituloCabecaListaOrder colDesc">DESCRIÇÃO</p>
                        <p class="tituloCabecaListaOrder colVal">VALOR</p>
                        <p class="tituloCabecaListaOrder colOperacoes"></p>
                    </div>
                    <div class="corpoListaOrder" id="corpoOrder">
                        
                    </div>
                </section>

            </div>
            <div class="group-client-value-total">
                <hr size='6' color="#000" />
                <div class="group-order-client-row">
                    <p><b>Subtotal</b></p>
                    <p id="somaDosItens"></p>
                </div>
                <div class="group-order-client-row">
                    <p><b>Taxa De Entrega</b></p>
                    <p id="taxaEntrega"></p>
                </div>
                <div class="group-order-client-row">
                    <h6>Total a Pagar</h6>
                    <h4 id="valorTotal">

                    </h4>
                </div>
            </div>
        </section>
    </div>
    <div class="container-footer">
        <div class="container-tecla ">
            <p id="f2">F2 - 1/2</p>
            <p id="f3">F3 - 1/3</p>
            <p id="f4">F4 - 1/4</p>
            <p>F9 - EXTRAS</p>
            <p>F12 - IMPRIMIR</p>
        </div>
        <div class="container-buttons">
            <button id="btnAceitar" onclick="finalizaPedido('Mesa')">OK</button>
            <button id="btnVoltar" onclick="goBack()">Desistir</button>
        </div>
        <div class="container-endereco">
            <div class="container-endereco-column">
                <p>NOME: <b id="nomeCli"></b></p>
                <p>MESA: <b id="mesaCli"></b></p>
            </div>
        </div>
    </div>
</div>

<div id="itens-extras">
    <div class="container-extras">
        <h2>Selecione o item extra</h2>
        <table style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <td>CÓDIGO</td>
                    <td>PRODUTO</td>
                    <td>VALOR UNITÁRIO</td>
                    <td>OPÇÕES</td>
                </tr>
            </thead>
            <tbody id="container-adiciona-extras">

            </tbody>
        </table>
        <div class="container-buttons">
            <button id="btnVoltar" onclick="fecharModais('itens-extras');">Retornar</button>
        </div>
    </div>
</div>

<div id="seleciona-item-extra">
    <div class="container-seleciona">
        <h2>Selecione o item extra</h2>
        <table style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <td></td>
                    <td>CÓDIGO</td>
                    <td>QUANTIDADE</td>
                    <td>ITEM EXTRA</td>
                    <td>ACRÉSCIMO</td>
                </tr>
            </thead>
            <tbody id="container-adiciona-seleciona">

            </tbody>
        </table>
        <div class="container-buttons">
            <button id="btnAceitar" onclick="adicionarItemExtra();">OK</button>
            <button id="btnVoltar" onclick="fecharModais('seleciona-item-extra');">Retornar</button>
        </div>
    </div>
</div>