<div id="containerPagamento">
    <div class="informacoesCliente" id="informacoesPedidoCliente">

    </div>
    <div id="telaPagamento">
        <div class="grid-1-pag">

            <div class="col-10" style="max-width: 100%;">
                <div class="row m-0">

                    <div class="cont-celulas-receb">
                        <div class="celula-1">
                            <span class="label-celula-receb">SOMA: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="soma" type="text" class="somar-lateral form-control"
                                aria-label="Sizing example input" name="Código"
                                aria-describedby="inputGroup-sizing-default" placeholder=""
                                onkeyup="Helper.maskMoeda(this,event)" disabled>
                        </div>
                    </div>
                    <div class="cont-celulas-receb">
                        <div class="celula-1">
                            <span class="label-celula-receb">TAXA DE ENTREGAS: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="taxaEntrega" type="text" class="somar-lateral form-control"
                                aria-label="Sizing example input" name="Nome"
                                aria-describedby="inputGroup-sizing-default" placeholder=""
                                onkeyup="Helper.maskMoeda(this,event)">
                        </div>
                    </div>
                    <div class="cont-celulas-receb">
                        <div class="celula-1">
                            <span class="label-celula-receb">ACRESCIMO: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="acrescimo" type="text" class="somar-lateral form-control"
                                aria-label="Sizing example input" name="Telefone 2"
                                aria-describedby="inputGroup-sizing-default" placeholder=""
                                onkeyup="Helper.maskMoeda(this,event)">
                        </div>
                    </div>
                    <div class="cont-celulas-receb">
                        <div class="celula-1">
                            <span class="label-celula-receb">DESCONTO: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="desconto" type="text" class="somar-lateral form-control"
                                aria-label="Sizing example input" name="Telefone 2"
                                aria-describedby="inputGroup-sizing-default" placeholder=""
                                onkeyup="Helper.maskMoeda(this,event)">
                        </div>
                    </div>

                    <hr size="5" color="gainsboro">

                    <div class="cont-celulas-receb">
                        <div class="celula-1">
                            <span class="label-celula-receb">TOTAL A PAGAR: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="totPago" type="text" class="somar-lateral form-control"
                                aria-label="Sizing example input" name="Telefone 2"
                                aria-describedby="inputGroup-sizing-default" placeholder=""
                                style="border-color: deeppink; font-weight: 800; border-width: 3px;"
                                onkeyup="Helper.maskMoeda(this,event)" disabled>
                        </div>
                    </div>

                    <div class="cont-celulas-receb"
                        style="border: #000 solid 1px; height: 60px; display: flex; padding-top: 10px; border-radius: 15px; padding-left: 0px; box-shadow: 9px 9px 9px;">
                        <div class="celula-1">
                            <span class="label-celula-receb">A RECEBER: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="receber" type="text" class="form-control" aria-label="Sizing example input"
                                name="Telefone 2" aria-describedby="inputGroup-sizing-default" placeholder=""
                                style="border-color: red; font-weight: 800; border-width: 3px;"
                                onkeyup="Helper.maskMoeda(this,event)" disabled>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--Section para mostrar o detalhamento do pedido-->
        <div class="grid-2-pag" id="grid-altera-margem">
            <!--Botão de Formas de Pagamentos-->
            <div class="col-12 container-toggles">
                <div class="cont-celulas-receb div-combo-func">
                    <div class="celula-1">
                        <span class="label-celula-receb" id="spanLabelCombo">FUNCIONÁRIO</span>
                    </div>
                    <div class="celula-2 col-5">
                        <select id="comboFuncionario" class="form-control"
                            aria-label="Sizing example input" name="Funcionario"
                            aria-describedby="inputGroup-sizing-default" placeholder="">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <p class="tituloTipoPagamento"><b>Tipo de Pagamento</b></p>
                <div class="row m-0" id="adicionaFPGTO">

                </div>

                <hr size="5" color="gainsboro" />

                <div class="cont-celulas-receb">
                    <div class="celula-1">
                        <span class="label-celula-receb">PENDURAR: </span>
                    </div>
                    <div class="celula-2 col-5">
                        <input id="PENDURAR" type="text" class="recebimentos form-control"
                            aria-label="Sizing example input" name="pendurar"
                            aria-describedby="inputGroup-sizing-default" placeholder=""
                            onkeyup="Helper.maskMoeda(this,event)">
                    </div>
                </div>
                <div class="cont-celulas-receb">
                    <div class="celula-1">
                        <span class="label-celula-receb">PARA O DIA: </span>
                    </div>
                    <div class="celula-2 col-6">
                        <input id="paraDia" type="date" class="form-control" aria-label="Sizing example input"
                            name="Para o Dia" aria-describedby="inputGroup-sizing-default" placeholder=""
                            style="border-color: brown; font-weight: 800; border-width: 3px;">
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>

        <div class="container-recebidos" id="container-recebidos-id">
            <div class="col-7" style="display: flex; align-items: center; justify-content: flex-start;">
                <div class="row m-0">

                    <div class="cont-celulas-receb">
                        <div class="celula-1" style="margin-top: 5px;">
                            <span class="label-celula-receb" style="font-weight: 5px;">TOTAL RECEBIDO: </span>
                        </div>
                        <div class="celula-2 col-5">
                            <input id="totalReceb" type="text" class="form-control" aria-label="Sizing example input"
                                name="Total Recebido" aria-describedby="inputGroup-sizing-default" placeholder=""
                                onkeyup="Helper.maskMoeda(this,event)"
                                style="border-color: #24dc24; font-weight: 800; border-width: 3px;" disabled>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container-buttons">
                <button id="btnFecharPagamento" style="margin-right: 15px;" class="btnOKPag">OK</button>
                <button id="btnVoltar" onclick="fecharTelaPagamento();">Retornar</button>
            </div>
        </div>

    </div>


</div>