<div id="box-fechamento" class="pop-up">
    <h1>Fechamento de Comanda</h1>
    <div class="grid">
        <section class="grid-1">
            <div class="container-row-input">
                <label for="">Comanda: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="domComandaFechamento" />
                <label for="">Cliente: </label>
                <input class = "input-fechamento" type="text" style = "font-weight: 800;" name="" id="domClienteFechamento" />
            </div>
            <div class="client-order-section">
                <table>
                    <thead>
                        <th>QTD</th>
                        <th style = "text-align: left;">DESCRIÇÃO</th>
                        <th>PREÇO</th>
                    </thead>
                    <tbody id="itensFechamento" style = "overflow-y: scroll;">

                    </tbody>
                </table>
            </div>
            <div class="container-row-input">
                <button onclick = "irParaCardapio('Adicionar', 'Fechamento', undefined, 'Comanda')">Adicionar Itens</button>
                <button onclick = "irParaRecebimento('COMANDA')">Receber</button>
                <button onclick = "irParaCardapio('Editar', 'Fechamento', undefined, 'Comanda')">Editar</button>
                <button onclick = "cancelarPedido('COMANDA', undefined, 'Fechamento')">Cancelar</button>
            </div>
        </section>
        <section class="grid-2">
            <div class="grid-2-column-align">
                <div class="container-row">
                    <label for="" style = "font-weight: 600;">Subtotal: </label>
                    <input class = "input-fechamento" type="text" name="" id="somaItensFechadoComanda">
                </div>
                <div class="container-row">
                    <label for="">Acréscimo: </label>
                    <input class = "input-fechamento" type="text" name="" id="acrescimoFechamento"  onkeyup="Helper.maskMoeda(this, event);" onchange="listenerCampoAcrescimoDesconto('Comanda');">
                </div>
                <div class="container-row">
                    <label for="">Desconto: </label>
                    <input class = "input-fechamento" type="text" name="" id="descontoFechamento"  onkeyup="Helper.maskMoeda(this, event);" onchange="listenerCampoAcrescimoDesconto('Comanda');">
                </div>
                <div class="container-row">
                    <label for="">Dividir por: </label>
                    <input class = "input-fechamento" type="number" name="" id="campoDividirFechamento" step="1" value="1" min="1">
                </div>
                <!--<div class="container-row">
                    <label for="">Nº Pessoas: </label>
                    <input type="text" name="" id="">
                </div>-->
                <div class="container-column">
                    <h3>Total a Pagar</h3>
                    <input type="text" name="" id="valorTotalFechadoComanda" disabled>
                </div>
                <div class="container-row">
                    <button id="btnAceitar" onclick = "imprimeFechameto()">Imprimir</button>
                    <button id="btnVoltar" onclick = "voltarFechamento('Fechamento', 'Comanda');">Retornar</button>
                </div>
            </div>
        </section>
    </div>
</div>
<div id = "container-receb">
        
</div>