<div class="container-content">
    <div class="grid grid-order">

        <div class="box-atalhoEndereco">
            <div class="search-Cardapio" id = "search-Cardapio-id">
                <input id="buscaProd" name="buscaProd" placeholder="Digite o nome do produto" onkeyup="enviaTexto()"
                    style="margin-top: 30px; width: 350px;text-align: left;" />
            </div>
            <div class="container-endereco">
                <div style = "margin-left: 30px;" class="container-endereco-column row-enderecoCardapio">
                    <div>
                        <div class = "textoInfo">NOME: <b class = "textoInfo" id="nomeCli"></b></div>
                        <div class = "textoInfo">RUA:  <b class = "textoInfo" id="ruaCli"></b></div>
                        <div class = "textoInfo">Nº    <b class = "textoInfo" id="numCli"></b></div>
                    </div>
                    <div>
                        <div class = "textoInfo">COMPL: <b class = "textoInfo" id="compCli"></b></div>
                        <div class = "textoInfo">FONE:  <b class = "textoInfo" id="foneCli"></b></div>
                        <!--<div class = "textoInfo">FRETE: <b class = "textoInfo" id="freteTot"></b></div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="order-Cardapio">
            <section class="menu-section" id="menu-section">
                <section id="tabela-produtos" class="divInfoProdutos">
                    <div id="headerCardapio" class="divHeadCardapio">
                        <div class="linhaDadosCardapio linhaHeadCardapio">
                            <p class="colDadosCardapio colDadosCardapioCod">COD</p>
                            <p class="colDadosCardapio colDadosCardapioDesc">PRODUTO</p>
                            <p class="colDadosCardapio colDadosCardapioNormal">NORMAL</p>
                            <p class="colDadosCardapio colDadosCardapioBroto">BROTO</p>
                            <p class="colDadosCardapio colDadosCardapioMedia">MÉDIA</p>
                            <p class="colDadosCardapio colDadosCardapioGiga">GIGANTE</p>
                            <p class="colDadosCardapio colDadosCardapioMaisInfo"></p>
                        </div>
                    </div>
                    <div class="divCorpoCardapio" id="table-prod">
                        
                    </div>
                </section>
            </section>
            <section class="client-order-section">
                <div class="group-order-client" id="group-order-client">

                    <section class="listaOrder">
                        <div class="cabecalhoListaOrder">
                            <p class="tituloCabecaListaOrder colQtd">QTD</p>
                            <p class="tituloCabecaListaOrder colDesc">DESCRIÇÃO</p>
                            <p class="tituloCabecaListaOrder colVal">VALOR</p>
                            <p class="tituloCabecaListaOrder colOperacoes"></p>
                        </div>
                        <div class="corpoListaOrder" id="corpoOrder">
                            
                        </div>
                    </section>

                </div>
                <div class="group-client-value-total">
                   <!-- <hr size='6' color="#000" />

                    <div class="group-order-client-row">
                        <p><b class="resultado-pedidoCardapio">Subtotal</b></p>
                        <p id="somaDosItens" class="soma-pedidoCardapio"></p>
                    </div>
                    <div class="group-order-client-row">
                        <p><b class="resultado-pedidoCardapio">Taxa De Entrega</b></p>
                        <p><b id="taxaEntrega"></b></p>
                    </div>
                    <div class="group-order-client-row">
                        <h6 class="resultado-pedidoCardapio">Total a Pagar</h6>
                        <h4 id="valorTotal">

                        </h4>
                    </div> -->

                    <hr size='6' color="#000" />
                    <div class="group-order-client-row">
                        <p class = "label-values" id = "labels-Tot-soma">Subtotal</p>
                        <p><b class = "label-values" id="somaDosItens"></b></p>
                    </div>
                    <div class="group-order-client-row">
                        <p class = "label-values" id = "labels-Tot-entrega">Taxa De Entrega</p>
                        <p><b class = "label-values" id="taxaEntrega"></b></p>
                    </div>
                    <div class="group-order-client-row">
                        <p class = "label-values" id = "labels-Tot-total">Total a Pagar</p>
                        <p><b class = "label-values" id="valorTotal"></b></p>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <div class="container-footer">
        <div class="container-tecla-column row-atalhos" id = "row-atalhos">
            <div class="atalho-cardapio" id="f2"> F2 1/2 </div>
            <div class="atalho-cardapio" id="f3"> F3 1/3 </div>
            <div class="atalho-cardapio" id="f4"> F4 1/4 </div>
            <div class="atalho-cardapio btnTroco" id="labelTroco">TROCO</div>
        </div>
        <div class="container-buttons">
            <button id="btnAceitar" onclick="finalizaPedido('Delivery')">OK</button>
            <button id="btnVoltar" onclick="Retornar()">Desistir</button>
        </div>
    </div>
</div>

<div id="container-itex" style="display: none;">
    <div id = "box-itex" class="popup-itex">
        <h2>Itens do Pedido</h2>
        <table style="margin-bottom: 20px;">
            <thead>
                <tr class = "tr-itex">
                    <td class = "td-itex">QTD</td>
                    <td class = "td-itex">DESCRIÇÃO</td>
                    <td class = "td-itex">PREÇO</td>
                    <td class = "td-itex"></td>
                </tr>
            </thead>
            <tbody id="container-pedido">

            </tbody>
        </table>
        <button id = "btnVoltar" onclick = "fecharModalItensExtras();" style = "height: 50px; width: 120px; background-color: #FF6D6D;">Retornar</button>
    </div>
</div>

<div id="container-ingrediente" style="display: none;">
	<div id="box-ingrediente"   class="popup">
		<p>Nome: <b id="modalIng-nome"></b></p>
		<p>Descrição: <b id="modalIng-descricao"></b></p>
		<p>Valor: <b id="modalIng-valor"></b></p>
        <div id = "controleEstoque" style = "text-align: left;">
            <p>Disponivel: <b id="modalIng-disponivel"></b></p>
        </div>
		<!--Campos broto, normal, giga, só deve aparecer se o prod for pizza-->
		<div id = "precosPizzas" style = "text-align: left;">
            <p>Broto: <b id="modalIng-broto"></b></p>
            <p>Média: <b id="modalIng-normal"></b></p>
            <p>Giga: <b id="modalIng-giga"></b></p>
        </div>
		<button id="cancel-modal" onclick="fecharModalIngrediente()" class="button-cancel-ingrediente">Retornar</a></button>
	</div>
</div>

<div id = "container-itens-extras">
    
</div>