<div id="box-itemExtra" class="popup-itExtra" style = "height: 550px;">
    <h2> --- ITENS EXTRAS --- </h2>
    <p id = "saborAtual" style = "font-size: 1rem; font-weight: 800; margin-top: 50px; text-align: left;"></p>
    <table id="itens-extras-lista" style="margin-top: 10px; height: 200px; width: 350px; overflow-y: scroll;">

    </table>
    <button id = "button-itens-extras" class = "button-ok" onclick="irParaProximoSabor();" style = "height: 50px; width: 120px; margin-top: 30px;"></button>
</div> 