<div id="container-ingrediente" style="display: none;">
	<div id="box-ingrediente" class="popup">
		<p id="modalIng-nome">Nome:</p>
		<p id="modalIng-descricao">Descrição:</p>
		<p id="modalIng-valor">Valor:</p>
		<p id="modalIng-disponivel">Disponivel:</p>
		<!--Campos broto, normal, giga, só deve aparecer se o prod for pizza-->
		<p id="modalIng-broto">Broto:</p>
		<p id="modalIng-normal">Normal:</p>
		<p id="modalIng-giga">Giga:</p>

		<button id="cancel-modal" onclick="close_popup_delivery()" class="button-cancel">Retornar</a></button>
	</div>
</div>